{% extends 'about/base.html.twig' %}

{% set page_title = 'About our dudes named Ben' %}

{% block about_content %}
  <h1>Dudes named Ben</h1>
  <p>
    The term “Dude named Ben” is regularly used by the hosts of No Agenda to refer to IT guys (or “Dudette named
    Bernadette” for the IT ladies). It’s a reference to IT departments often being overlooked and undervalued within
    companies, while modern business processes don’t function if a problem occurs in the technology stack. When digital
    workflows stop, dudes named Ben are the only ones who can fix it and we’re happy to carry that burden, even if we
    don’t always get the recognition we deserve.
  </p>
  <p>
    There’s a whole team of dudes named Ben that keep No Agenda running, and you can read more about us below.
  </p>
  <h2>voidzero (Mark van Dijk)</h2>
  <p>
    <a href="https://noagenda.ninja">Website</a>
    |
    <a href="{{ voidzero_url }}">ActivityPub</a>
    |
    <a href="https://www.paypal.com/paypalme/markvandijk">Donate</a>
  </p>
  <p>
    Who is Adam going to call with IT problems? voidzero of course. From the No Agenda infrastructure all the way to
    Adam’s email, he single-handedly keeps it running, and they never had a fight!
  </p>
  <h2>Coded Monkey (Tim Goudriaan)</h2>
  <p>
    <a href="https://www.codedmonkey.com">Website</a>
    |
    <a href="{{ codedmonkey_url }}">ActivityPub</a>
    |
    <a href="{{ codedmonkey_donate_url }}">Donate</a>
  </p>
  <p>
    The No Agenda website isn’t just a podcast player. It’s a handcrafted work of art to experience everything No Agenda
    has got to offer, created by a simple dude named Ben, me. Please consider donating so I can make it even better.
  </p>
  <h2>Sir Bemrose (Ryan Bemrose)</h2>
  <p>
    <a href="https://angrytechnews.com/">Podcast</a>
    |
    <a href="{{ sirbemrose_url }}">ActivityPub</a>
  </p>
  <p>
    Whether you listen alone or with fellow producers, listening to the No Agenda Stream is free of charge and without
    advertising 24/7 because of to the hard work of Sir Bemrose. Thanks to his diverse curation of interesting and
    entertaining podcasts, there’s something for everybody to enjoy.
  </p>
  <h2>Dave Jones</h2>
  <p>
    <a href="{{ podcasting20_podcast_url }}">Podcast</a>
    |
    <a href="{{ davejones_url }}">ActivityPub</a>
  </p>
  <p>
    Some people don’t need to start a podcast to change the podcasting industry, but Dave Jones did it both anyways
    when he joined Adam in starting the Podcasting 2.0 movement.
  </p>
  <h2>Paul Couture</h2>
  <p>
    Each episode of The No Agenda Show has unique artwork selected from the <a href="{{ artgenerator_url }}">No Agenda Art Generator</a>,
    created and maintained by Sir Paul.
  </p>
  <h2>Sir Dude Named Daniel</h2>
  <p>
    No Agenda is a global podcast which is why No Agenda producers are the best type of people you can meet up with,
    no matter which FEMA region you find yourself in today. Sir Daniel made this possible through <a href="{{ meetups_url }}">No Agenda Meetups</a>,
    so remember your resident dudes named Ben when meeting new friends out there.
  </p>
  <h2>Dreb Scott</h2>
  <p>
    <a href="{{ drebscott_url }}">ActivityPub</a>
  </p>
  <p>
    A picture says more than a thousand words, so by adding chapter art to No Agenda episodes, Dreb has told a lot of
    stories.
  </p>
{% endblock %}
