{% extends 'layout.html.twig' %}

{% block scripts %}
  <na-audio-source id="episodeSource" data-title="{{ episode }}" data-src="{{ episode.recordingUri }}"></na-audio-source>

  {{ parent() }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="my-3">
      <h5><a href="{{ path('player', {episode: episode.code}) }}"><span class="fas fa-chevron-left mr-1" aria-hidden="true"></span> Episode {{ episode }}</a></h5>
      <h2>Edit chapter</h2>
    </div>

    {% include 'chapter/parts/form.html.twig' with {timestamp: chapter.startsAt} %}

    <na-audio-toolbar-spacer></na-audio-toolbar-spacer>
  </div>
{% endblock %}
