{% extends 'layout.html.twig' %}

{% block body %}
  <na-audio-source id="episodeSource" data-title="{{ episode }}" data-src="{{ episode.enclosureUrl }}"></na-audio-source>

  {{ parent() }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="my-3">
      <h5><a href="{{ path('player', {episode: episode.code}) }}"><span class="fas fa-chevron-left mr-1" aria-hidden="true"></span> Episode {{ episode }}</a></h5>
      <h2>Suggest a new chapter</h2>
    </div>
    <div class="card bg-info my-3">
      <div class="card-body">
        By creating chapter markers for episodes you can help your fellow producers find
        the segment they're looking for. Not sure what to call the chapter? Check out the
        <a href="{{ path('chapter_guidelines') }}" class="text-danger">guidelines</a> or leave it empty so other producers
        can find an appropriate name for the chapter.
      </div>
    </div>
    {% include 'chapter/parts/form.html.twig' with {submit_label: 'Submit suggestion'} %}

    <na-audio-toolbar-spacer></na-audio-toolbar-spacer>
  </div>
{% endblock %}
