{% extends 'layout.html.twig' %}

{% block body %}
  <na-audio-source id="episodeSource" data-title="{{ episode }}" data-src="{{ episode.recordingUri }}"></na-audio-source>

  {{ parent() }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="my-3">
      <h5><a href="{{ path('player', {episode: episode.code}) }}"><span class="fas fa-chevron-left mr-1" aria-hidden="true"></span> Episode {{ episode }}</a></h5>
      <h2>Suggest a chapter improvement</h2>
    </div>
    <div class="card bg-info my-3">
      <div class="card-body">
        Please check out the <a href="#" class="text-danger">guidelines</a> before suggesting an improvement.
      </div>
    </div>
    {% include 'chapter/parts/form.html.twig' with {timestamp: draft.startsAt, submit_label: 'Submit suggestion'} %}
  </div>
{% endblock %}
