{% extends 'layout.html.twig' %}

{% set title = episode.code ~ ': ' ~ episode.name %}

{% block title %}{{ title }}{% endblock %}

{% set tabs = [
  {
    key: 'info',
    name: title,
    contents: 'player/blocks/information.html.twig',
  },
  {
    key: 'transcript',
    name: 'Transcript <span class="badge badge-secondary text-uppercase">Beta</span>',
    contents: 'player/blocks/transcript.html.twig',
  },
  {
    key: 'chat',
    name: 'Troll room',
    contents: 'player/blocks/chat.html.twig',
  },
] %}

{% block body %}
{{ parent() }}

{% include 'player/blocks/correction_modal.html.twig' %}
{% endblock %}

{% block content %}
<div class="site-player" data-player="{{ episode.recordingUri }}">
  <div class="container">
    <div class="d-md-flex">
      <img src="{{ episode.coverUri }}" class="shadow-sm">
      <div class="flex-grow-1 m-md-3 mx-lg-5 mt-lg-5">
        <h1>{{ title }}</h1>
        <h4>{{ episode.author }}</h4>
        <div class="btn-toolbar pt-2">
          {% if episode.duration %}
          <div class="btn btn-sm btn-outline-light disabled mr-2">
            <span class="fas fa-clock mr-1"></span>
            {{ episode.duration|visualTimestamp }}
          </div>
          {% endif %}
          <div class="btn btn-sm btn-outline-light disabled">
            <span class="fas fa-calendar mr-1"></span>
            {{ episode.publishedAt|date('F jS, Y') }}
          </div>
        </div>
        <div class="btn-toolbar d-none d-lg-flex align-items-center justify-content-center pt-5">
          {# todo copy for mobile #}
          <div class="mx-2">
            <span class="fa-layers fa-fw fa-2x">
              <i class="fal fa-undo-alt"></i>
              <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10 down-1">60</span>
            </span>
          </div>
          <div class="mx-2">
            <span class="fa-layers fa-fw fa-2x">
              <i class="fal fa-undo-alt"></i>
              <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10 down-1">15</span>
            </span>
          </div>
          <div class="mx-5" data-player-action="play">
            <span class="fal fa-3x fa-play" aria-hidden="true"></span>
          </div>
          <div class="mx-5" data-player-action="pause">
            <span class="fal fa-3x fa-pause" aria-hidden="true"></span>
          </div>
          <div class="mx-2">
            <span class="fa-layers fa-fw fa-2x">
              <i class="fal fa-redo-alt"></i>
              <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10 down-1">15</span>
            </span>
          </div>
          <div class="mx-2">
            <span class="fa-layers fa-fw fa-2x">
              <i class="fal fa-redo-alt"></i>
              <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10 down-1">60</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="py-3">
        <div><span data-player-data="timer">0:00</span> / <span data-player-data="duration">0:00</span></div>
        <div class="bg-white cursor-pointer mt-2 mb-2" data-player-action="progress" style="height: 5px;">
          <div class="bg-primary h-100" data-player-data="progress" style="width: 0;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="full_player" class="container vh-100">
  <div class="row">
    <div id="full_player_main" class="col-12">
      <div class="d-flex flex-column vh-100">
        <div class="flex-grow-0 bg-white position-sticky top-0 pt-3">
          <ul class="nav nav-tabs">
            {% for tab in tabs %}
            <li class="nav-item">
              <a
                id="{{ tab.key }}-tab"
                class="nav-link {{ loop.first ? 'active' : '' }}"
                href="#{{ tab.key }}"
                role="tab"
                data-toggle="tab"
                aria-controls="{{ tab.key }}"
                aria-selected="{{ loop.first ? 'true' : 'false' }}"
                {% if tab.key == 'chat' %}data-chat-activator{% endif %}
              >
                {{ tab.name|raw }}
              </a>
            </li>
            {% endfor %}

            <li class="nav-item ml-auto d-none d-lg-block">
              <a id="full_player_chat_toggle" class="nav-link" href="#">Expand chat</a>
            </li>
          </ul>
        </div>
        <div class="flex-grow-1 tab-content pt-4">
          {% for tab in tabs %}
          <div class="tab-pane fade {{ loop.first ? 'active show' : '' }}" id="{{ tab.key }}" role="tabpanel" aria-labelledby="{{ tab.key }}-tab">
            {% include tab.contents %}
          </div>
          {% endfor %}
        </div>
        <div class="flex-grow-0 position-sticky bg-white py-3" style="bottom: 0; z-index: 1000;">
          <div class="d-flex">
            <div class="btn-toolbar d-flex align-items-center justify-content-center">
              <div class="mx-3">
                <span class="fa-layers fa-fw fa-lg">
                  <i class="fal fa-undo-alt"></i>
                  <span class="fa-layers-text" data-fa-transform="shrink-10 down-1">15</span>
                </span>
              </div>
              <div class="mx-2" data-player-action="play">
                <span class="fal fa-2x fa-play" aria-hidden="true"></span>
              </div>
              <div class="mx-2" data-player-action="pause">
                <span class="fal fa-2x fa-pause" aria-hidden="true"></span>
              </div>
              <div class="mx-3">
                <span class="fa-layers fa-fw fa-lg">
                  <i class="fal fa-redo-alt"></i>
                  <span class="fa-layers-text" data-fa-transform="shrink-10 down-1">15</span>
                </span>
              </div>
            </div>
            <div class="flex-grow-1">
              <div>
                <span data-player-data="timer">0:00</span> / <span data-player-data="duration">0:00</span>
                <span class="ml-4">Now playing: 001 - Start of Show</span>
              </div>
              <div class="bg-dark cursor-pointer mt-2 mb-2" data-player-action="progress" style="height: 5px;">
                <div class="bg-success h-100" data-player-data="progress" style="width: 0;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="full_player_aside" class="col-xl-4 d-none">
      <div class="d-flex flex-column vh-100 mvh-100 position-sticky top-0 pt-3">
        <div class="flex-shrink-0">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <div class="nav-link disabled">Chat</div>
            </li>
          </ul>
        </div>
        {#<div class="flex-grow-1 oy-scroll site-chat-messages">#}
          {#{% include 'player/blocks/chat_container.html.twig' %}#}
        {#</div>#}
        <div class="flex-shrink-0 p-3">
          {#{{ form_start(chatMessageForm) }}#}
            {#{{ form_widget(chatMessageForm.contents) }}#}
            {#{{ form_rest(chatMessageForm) }}#}
            {#<div class="btn-toolbar mt-2">#}
              {#<button class="btn btn-sm btn-primary ml-auto" type="submit" disabled>Post at <span class="fal fa-clock" aria-hidden="true"></span> <span data-player-data="timer">0:00</span></button>#}
            {#</div>#}
          {#{{ form_end(chatMessageForm) }}#}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
