{% extends 'layout.html.twig' %}

{% import 'player/parts/macro.html.twig' as macro %}

{% set page_title = episode %}

{% set tabs = [
  {
    key: 'info',
    icon: '<span class="fas fa-fw fa-info" aria-hidden="true"></span> <span class="d-md-none">' ~ episode.code ~ '</span>',
    name: episode,
    contents: 'player/blocks/information.html.twig',
    enabled: true,
  },
  {
    key: 'shownotes',
    icon: '<span class="fas fa-fw fa-book" aria-hidden="true"></span>',
    name: 'Shownotes',
    contents: 'player/blocks/shownotes.html.twig',
    enabled: shownotes,
  },
  {
    key: 'clips',
    icon: '<span class="fas fa-fw fa-headphones" aria-hidden="true"></span>',
    name: 'Clips & Documents',
    contents: 'player/blocks/clips.html.twig',
    enabled: shownotes,
  },
  {
    key: 'transcript',
    icon: '<span class="fas fa-fw fa-list-ol" aria-hidden="true"></span>',
    name: 'Transcript <span class="badge badge-secondary text-uppercase">Beta</span>',
    contents: 'player/blocks/transcript.html.twig',
    enabled: episode.transcript,
  },
  {
    key: 'chat',
    icon: '<span class="fas fa-fw fa-smile" aria-hidden="true"></span>',
    name: 'Troll room',
    contents: 'player/blocks/chat.html.twig',
    enabled: episode.chatMessages,
  },
] %}

{% block body_attributes %}
  {% apply spaceless %}
    {% if transcriptTimestamp > 0 %}
      data-transcript-timestamp="{{ transcriptTimestamp }}"
    {% endif %}
  {% endapply %}
{% endblock %}

{% block metatags %}
  <meta property="og:title" content="No Agenda {{ episode }}" data-page-meta/>
  <meta property="og:description" content="Listen to No Agenda episode {{ episode }}." data-page-meta/>
  <meta property="og:type" content="website" data-page-meta/>
  <meta property="og:url" content="{{ url('player', {episode: episode.code}) }}" data-page-meta/>
  <meta property="og:image" content="{{ episode|episodeCover('large') }}" data-page-meta/>
  <meta property="og:site_name" content="No Agenda" data-page-meta/>
{% endblock %}

{% block body %}
  <na-audio-source
    id="episodeSource"
    data-title="{{ episode }}"
    data-src="{{ episode.recordingUri }}"
    {% if timestamp > 0 %}
      data-start="{{ timestamp }}"
    {% endif %}
  ></na-audio-source>

  {{ parent() }}
{% endblock %}

{% block content %}
<div class="site-masthead-player section-dark">
  <div class="container">
    <div class="d-sm-flex">
      <img class="masthead-cover img-fluid" src="{{ episode|episodeCover('large') }}" alt="Art for episode {{ episode.code }}">
      <div class="flex-grow-1 pb-3 pb-sm-0 pt-2 pt-sm-0 m-sm-3 m-md-4 m-lg-5">
        <h1>{{ episode }}</h1>
        <h4>{{ episode.author }}</h4>
        <div class="btn-toolbar">
          {% if episode.duration %}
            <div class="btn btn-sm btn-outline-light disabled mt-2 mr-2" aria-label="Duration">
              <span class="fas fa-clock mr-1" aria-hidden="true"></span>
              {{ episode.duration|visualTimestamp }}
            </div>
          {% endif %}
          <div class="btn btn-sm btn-outline-light disabled mt-2" aria-label="Publish date">
            <span class="fas fa-calendar mr-1" aria-hidden="true"></span>
            {{ episode.publishedAt|date('F jS, Y') }}
          </div>
        </div>
        <div class="btn-toolbar d-flex d-lg-none align-items-center justify-content-center pt-5" role="toolbar" aria-label="Player controls">
          {{ macro.play_button(3, 'mx-4', 'episodeSource') }}
        </div>
        <div class="btn-toolbar d-none d-lg-flex align-items-center justify-content-center pt-5" role="toolbar" aria-label="Player controls">
          {{ macro.seek_button('backward', 60, 'mx-2', 'btn-sm btn-light', 'episodeSource') }}
          {{ macro.seek_button('backward', 15, 'mx-2', 'btn-sm btn-light', 'episodeSource') }}
          {{ macro.play_button(3, 'mx-4', 'episodeSource') }}
          {{ macro.seek_button('forward', 15, 'mx-2', 'btn-sm btn-light', 'episodeSource') }}
          {{ macro.seek_button('forward', 60, 'mx-2', 'btn-sm btn-light', 'episodeSource') }}
          {{ macro.speed_button('mx-2', 'btn-sm btn-light', 'episodeSource') }}
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block">
      {{ macro.progress_bar('big', 'episodeSource') }}
    </div>
  </div>
</div>

<div class="site-interactive-player container min-vh-100">
  <div class="row">
    <div class="player-main-col col-12">
      <div class="content-column d-flex flex-column">
        <na-episode-search>
          <div class="d-flex align-items-center pt-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text bg-input">
                  <span class="fas fa-search" aria-hidden="true"></span>
                </span>
              </div>
              <input class="search form-control form-control-lg border-left-0" type="text" aria-label="Search through episode data" data-episode-search/>
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" aria-label="Clear search box" style="display: none;" data-episode-search-clear>
                  <span class="fas fa-times" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="mt-3" style="display: none;" data-episode-search-results>
            <details class="mb-3" open>
              <summary><span data-episode-transcript-search-count>0</span> results in transcripts</summary>
              <div class="mt-3" data-episode-transcript-search-results></div>
            </details>
            <details class="mb-3" open>
              <summary><span data-episode-shownotes-search-count>0</span> results in shownotes</summary>
              <div class="mt-3" data-episode-shownotes-search-results></div>
            </details>
          </div>
        </na-episode-search>
        <div class="flex-column" style="display: flex;" data-episode-contents>
          <div class="flex-grow-0 position-sticky top-0 py-3" role="navigation" style="z-index: 1000;">
            <ul class="player-tabs nav nav-pills">
              {% for tab in tabs|filter(tab => tab.enabled) %}
                <li class="nav-item">
                  <a
                    {% set classes = ['nav-link cursor-pointer'] %}
                    {% if loop.first %}{% set classes = classes|merge(['active']) %}{% endif %}
                    {% if tab.key == 'chat' %}{% set classes = classes|merge(['d-xl-none']) %}{% endif %}
                    id="{{ tab.key }}-tab"
                    class="{{ classes|join(' ') }}"
                    href="#{{ tab.key }}"
                    role="tab"
                    data-toggle="tab"
                    aria-controls="{{ tab.key }}"
                    aria-selected="{{ loop.first ? 'true' : 'false' }}"
                    {% if tab.key == 'chat' %}data-chat-activator{% endif %}
                  >
                    {{ tab.icon|raw }}
                    <span class="d-none d-md-inline ml-1">{{ tab.name|raw }}</span>
                  </a>
                </li>
              {% endfor %}

              {% if episode.chatMessages %}
                <li class="player-chat-activator nav-item ml-auto d-none d-xl-block">
                  <div class="nav-link cursor-pointer" data-chat-activator>
                    <span class="far fa-fw fa-smile" aria-hidden="true"></span> Troll room
                  </div>
                </li>
              {% endif %}
            </ul>
          </div>
          <div class="flex-grow-1 tab-content pt-4">
            {% for tab in tabs|filter(tab => tab.enabled) %}
              <div class="tab-pane fade {{ loop.first ? 'active show' : '' }}" id="{{ tab.key }}" role="tabpanel" aria-labelledby="{{ tab.key }}-tab">
                {% include tab.contents %}
              </div>
            {% endfor %}
          </div>
        </div>

        <na-audio-toolbar-spacer></na-audio-toolbar-spacer>
      </div>
    </div>
    <div class="player-aside-col col-xl-4 d-none">
      <div class="chat-column d-flex flex-column position-sticky top-0 pt-3">
        <div class="flex-shrink-0">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <div class="nav-link disabled">
                <span class="far fa-fw fa-smile" aria-hidden="true"></span> Troll room
              </div>
            </li>

            <li class="nav-item" data-hide-chat-column>
              <div class="nav-link cursor-pointer">
                <span class="fas fa-times" aria-hidden="true"></span>
              </div>
            </li>
          </ul>
        </div>

        {% if episode.chatNotice %}
          <div class="alert alert-warning alert-dismissible fade show m-0" role="alert">
            {{ episode.chatNotice }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
        <div class="chat-loader text-center my-4">
          <span class="fas fa-spinner fa-spin" aria-hidden="true"></span> Loading troll messages...
        </div>
        <div class="chat-container flex-grow-1 ox-hidden oy-scroll my-4">
          {% include 'player/blocks/chat_container.html.twig' %}
        </div>

        <na-audio-toolbar-spacer></na-audio-toolbar-spacer>
      </div>
    </div>
  </div>
</div>
{% endblock %}
