{% extends 'layout.html.twig' %}

{% block title %}{{ show.code }}: {{ show.name }}{% endblock %}

{% block content %}
<div class="site-player" data-player="{{ show.audioUri }}">
  <div class="container">
    <div class="d-md-flex">
      <img src="{{ show.imageUri }}" class="shadow-sm">
      <div class="flex-grow-1 m-md-3 mx-lg-5 mt-lg-5">
        <h1>{{ show.code }}: {{ show.name }}</h1>
        <h4>{{ show.author }}</h4>
        <div class="btn-toolbar pt-2">
          <div class="btn btn-sm btn-outline-light disabled mr-2">
            <span class="fas fa-clock mr-1"></span>
            2h 53m
          </div>
          <div class="btn btn-sm btn-outline-light disabled">
            <span class="fas fa-calendar mr-1"></span>
            {{ show.publishedAt|date('F jS, Y') }}
          </div>
        </div>
        <div class="btn-toolbar d-none d-lg-flex align-items-center justify-content-center pt-5">
          {# todo copy for mobile #}
          <div class="mx-2">
            <span class="fa-layers fa-fw fa-2x">
              <i class="fal fa-undo-alt"></i>
              <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10 down-1">60</span>
            </span>
          </div>
          <div class="mx-2">
            <span class="fa-layers fa-fw fa-2x">
              <i class="fal fa-undo-alt"></i>
              <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10 down-1">15</span>
            </span>
          </div>
          <div class="mx-5" data-player-action="play">
            <span class="fal fa-3x fa-play" aria-hidden="true"></span>
          </div>
          <div class="mx-5" data-player-action="pause">
            <span class="fal fa-3x fa-pause" aria-hidden="true"></span>
          </div>
          <div class="mx-2">
            <span class="fa-layers fa-fw fa-2x">
              <i class="fal fa-redo-alt"></i>
              <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10 down-1">15</span>
            </span>
          </div>
          <div class="mx-2">
            <span class="fa-layers fa-fw fa-2x">
              <i class="fal fa-redo-alt"></i>
              <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10 down-1">60</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="py-3">
        <div><span data-player-data="timer">0:00</span> / <span data-player-data="duration">0:00</span></div>
        <div class="bg-white mt-2 mb-2" style="height: 5px;">
          <div class="bg-primary h-100" data-player-data="progress" style="width: 0;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid vh-100">
  <div class="row">
    <div class="col-xl-8">
      <div class="vh-100 pt-3">
        <div>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a
                id="info-tab"
                class="nav-link active"
                href="#info"
                role="tab"
                data-toggle="tab"
                aria-controls="info"
                aria-selected="true"
              >
                Information
              </a>
            </li>
            <li class="nav-item">
              <a
                id="transcript-tab"
                class="nav-link"
                href="#transcript"
                role="tab"
                data-toggle="tab"
                aria-controls="transcript"
                aria-selected="false"
              >
                Transcript
              </a>
            </li>
          </ul>
        </div>
        <div class="p-3">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">Info</div>
            <div class="tab-pane fade" id="transcript" role="tabpanel" aria-labelledby="transcript-tab">Transcript</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="d-flex flex-column vh-100 mvh-100 position-sticky top-0 pt-3">
        <div class="flex-shrink-0">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <div class="nav-link disabled">Chat</div>
            </li>
          </ul>
        </div>
        <div class="flex-grow-1 oy-scroll">
        </div>
        <div class="flex-shrink-0 p-3">
          <div class="btn-toolbar">
            <div class="btn btn-sm btn-dark">Live Replay</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
