{% extends 'account/layout.html.twig' %}

{% set status = 'Activated' %}
{% if app.user.hidden %}{% set status = 'Disabled' %}{% endif %}

{% block account_content %}
<p>Current account status: <strong>{{ status }}</strong></p>

{% if not app.user.hidden %}
<p>
  You can hide your account details across the website by disabling your account. Note that you'll be unable to access
  other features of the website while your account is disabled.
</p>
<form action="{{ url('account_status') }}" method="post">
  <input type="hidden" name="action" value="hide"/>
  <input type="hidden" name="token" value="{{ csrf_token('update-status') }}"/>
  <button type="submit" class="btn btn-outline-warning">
    <span class="fal fa-ban mr-2" aria-hidden="true"></span>
    Disable my account
  </button>
</form>
{% else %}
<p>
  Your account is currently disabled. Enabling your account will expose your account information to other users and
  allows you to fully access the website again.
</p>
<form action="{{ url('account_status') }}" method="post">
  <input type="hidden" name="action" value="expose"/>
  <input type="hidden" name="token" value="{{ csrf_token('update-status') }}"/>
  <button type="submit" class="btn btn-outline-success">
    <span class="fas fa-circle mr-2" aria-hidden="true"></span>
    Enable my account
  </button>
</form>
{% endif %}
{% endblock %}
