{% extends 'base.html.twig' %}

{% import 'components.html.twig' as components %}

{% set page_title = 'Account - No Agenda Website' %}

{% set banned = app.user.banned %}
{% set hidden = app.user.hidden %}
{% set status = banned ? 'Banned' : (hidden ? 'Disabled' : 'Activated') %}

{% block content %}
  <section class="section">
    <div class="section-content">
      <h1>Account</h1>
      <p>Welcome, <em>{{ app.user.username }}</em>!</p>

      <p>Here you can change the details of your No Agenda website account.</p>

      {% if banned %}
        <div class="notice">
          <div class="notice-text">
            Your account is currently banned. You're not able to use the website while logged in with this account.
          </div>
        </div>
      {% elseif hidden %}
        <div class="notice">
          <div class="notice-text">
            Your account is currently disabled. You can enable your account below.
          </div>
        </div>
      {% endif %}

      <div>
        {% if app.user.admin %}
          <a href="{{ path('admin') }}" class="btn">Console</a>
        {% endif %}
        {% if app.user.mod %}
          <a href="{{ path('feedback_manage') }}" class="btn">Contributions</a>
        {% endif %}
        <a href="{{ path('security_logout') }}" class="btn" data-logout-button>Sign Out</a>
      </div>
    </div>
  </section>

  <div class="section-row">
    <section class="section">
      <div class="section-content">
        <h2>Change Password</h2>

        {% for message in app.flashes('password_form') %}
          {{ components.alert(message) }}
        {% endfor %}

        {{ form(password_form) }}
      </div>
    </section>

    <section class="section">
      <div class="section-content">
        <h2>Change Email Address</h2>

        {% for message in app.flashes('email_form') %}
          {{ components.alert(message) }}
        {% endfor %}

        {{ form(email_form) }}
      </div>
    </section>
  </div>

  <section class="section">
    <div class="section-content">
      <h2>Disable Account</h2>
      <p>
        You can hide your account details across the website by disabling your account. Note that you'll be unable to
        access other features of the website while your account is disabled.
      </p>

      {% if banned %}
        <p>Sorry, you're already banned.</p>
      {% elseif hidden %}
        <form action="{{ url('security_status') }}" method="post">
          <input type="hidden" name="action" value="expose"/>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('update-status') }}"/>
          <button type="submit" class="btn">Enable My Account</button>
        </form>
      {% else %}
        <form action="{{ url('security_status') }}" method="post">
          <input type="hidden" name="action" value="hide"/>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('update-status') }}"/>
          <button type="submit" class="btn">Disable My Account</button>
        </form>
      {% endif %}
    </div>
  </section>
{% endblock %}
