{% extends 'base.html.twig' %}

{% import 'call2action.html.twig' as call2action %}
{% import 'components.html.twig' as components %}
{% import 'security/macro.html.twig' as security %}

{% set page_title = 'Forgot Password - No Agenda Website' %}

{% block content %}
  <div class="section-row">
    <section class="section">
      <div class="section-content">
        <h2>Forgot Password</h2>
        <p>Don't be a slave. Get back to producing!</p>

        {% for message in app.flashes('forgot_password') %}
          {{ components.alert(message) }}
        {% endfor %}

        <form action="{{ path('security_forgot_password') }}" method="post" class="form">

          <div class="form-input">
            <label for="inputUsername">Enter your username (or email address)</label>
            <input type="text" id="inputUsername" name="_username" placeholder="Username" required autofocus>
          </div>

          <input type="hidden" name="_token" value="{{ csrf_token('forgot-password') }}"/>

          <div class="form-buttons">
            <button type="submit" class="btn">Send Email</button>
          </div>
        </form>
      </div>
    </section>

    {#{{ security.explanation() }}#}
  </div>

  <div class="section-gutter"></div>

  <div class="section-row">
    {{ call2action.website() }}
    {{ call2action.valueForValue() }}
  </div>
{% endblock %}
