{% macro explanation(creating_account = false) %}
  <section class="section">
    <div class="section-content">
      <h2>Website Account</h2>
      <p>
        With an account on the <a href="{{ path('website') }}">No Agenda website</a> you can help us build a catalog
        of the resources provided by the show, like suggesting website chapters for episodes.
      </p>
      <p>
        Please note that a No Agenda website account is only used for identifying your contributions on this website.
        It does not grant access to other No Agenda-related websites like <a href="{{ social_url }}">No Agenda Social</a>
        or the <a href="{{ artgenerator_url }}">Art Generator</a>.
      </p>
      {% if creating_account %}
        <strong>Already have an account?</strong>
        <div>
            <a href="{{ path('security_login') }}" class="btn">Sign In</a>
        </div>
      {% else %}
        <strong>Don't have an account yet?</strong>
        <div>
          <a href="{{ path('security_registration') }}" class="btn">Create an Account</a>
        </div>
      {% endif %}
    </div>
  </section>
{% endmacro %}

{% macro rules() %}
  <section class="section">
    <div class="section-content">
      <h2>Rules</h2>
      <p>Please stay civil and say nice things.</p>
      <p>Usernames that are offensive or attempts to impersonate other users from the No Agenda community are not allowed.</p>
    </div>
  </section>
{% endmacro %}