{% extends 'base.html.twig' %}

{% import 'call2action.html.twig' as call2action %}
{% import 'security/macro.html.twig' as security %}

{% set page_title = 'Create Account - No Agenda Website' %}

{% block content %}
  <div class="section-row">
    <section class="section">
      <div class="section-content">
        <h2>Create Account</h2>
        <p>Create an account to help out building a catalog of the best podcast in the universe.</p>

        {{ form(form) }}
      </div>
    </section>

    {{ security.explanation(true) }}
  </div>

  {{ security.rules() }}

  <div class="section-gutter"></div>

  <div class="section-row">
    {{ call2action.website() }}
    {{ call2action.valueForValue() }}
  </div>
{% endblock %}
