{% extends 'base.html.twig' %}

{% import 'call2action.html.twig' as call2action %}
{% import 'components.html.twig' as components %}
{% import 'security/macro.html.twig' as security %}

{% set page_title = 'Reset Password - No Agenda Website' %}

{% block content %}
  <div class="section-row">
    <section class="section">
      <div class="section-content">
        <h2>Reset Password</h2>
        <p>Don't be a slave. Get back to producing!</p>

        {% for message in app.flashes('reset_password') %}
          {{ components.alert(message) }}
        {% endfor %}

        <form action="{{ path('security_reset_password', {token: reset_password_token}) }}" method="post" class="form">
          <div class="form-input">
            <label for="inputPassword">Enter your new password</label>
            <input id="inputPassword" type="text" name="_password" placeholder="Password" required autofocus>
          </div>

          <div class="form-input">
            <label for="inputPasswordConfirmation">Enter your new password again</label>
            <input id="inputPasswordConfirmation" type="text" name="_password_confirmation" placeholder="Password" required>
          </div>

          <input type="hidden" name="_token" value="{{ csrf_token('reset-password') }}"/>

          <div class="form-buttons">
            <button type="submit" class="btn">Reset Password</button>
          </div>
        </form>
      </div>
    </section>

    {{ security.explanation() }}
  </div>

  <div class="section-gutter"></div>

  <div class="section-row">
    {{ call2action.website() }}
    {{ call2action.valueForValue() }}
  </div>
{% endblock %}
