{% extends 'base.html.twig' %}

{% import 'feedback/macro.html.twig' as feedback %}

{% set page_title = "No Agenda Show #{episode.code} Chapters" %}

{% block metatags %}
  {{ parent() }}
  <meta property="og:title" content="No Agenda Show {{ episode.code }} Chapters"/>
  <meta property="og:description" content="Browse the transcript for No Agenda Show {{ episode }}."/>
  <meta property="og:url" content="{{ url('podcast_episode_transcript', {code: episode.code}) }}"/>
  <meta property="og:image" content="{{ episode|episode_cover('small') }}"/>
{% endblock %}

{% block content %}
  {% include 'podcast/episode/header.html.twig' with {current_page: 'website_chapters'} %}

  <div class="section-row section-promo-row">
    <section class="section">
      <div class="section-content">
        <h2>Website Chapters</h2>
        <p>
          The website chapters are created and maintained by our producers in an effort to make the show more
          accessible for education and research.
        </p>
      </div>
    </section>
    <div class="section-promo section-promo-filler">
      <span class="fa-solid fa-book fa-5x" aria-hidden="true"></span>
    </div>
  </div>

  <section class="section">
    <div class="section-content">
      <div class="chapters">
        {% for chapter in chapters %}
          {{ feedback.chapter(chapter) }}
        {% endfor %}
        {% if app.user.mod|default(false) %}
          <a href="{{ path('podcast_episode_chapters_suggest', {code: episode.code}) }}" class="chapters-action">
            <span>Create New Chapter</span>
            <span class="fa-solid fa-plus fa-fw" aria-hidden="true"></span>
          </a>
        {% else %}
          <a href="{{ path('podcast_episode_chapters_suggest', {code: episode.code}) }}" class="chapters-action">
            <span>Suggest New Chapter</span>
            <span class="fa-solid fa-plus fa-fw" aria-hidden="true"></span>
          </a>
        {% endif %}
      </div>
    </div>
  </section>

  <div class="section-row">
    <section class="section">
      <div class="section-content">
        <h3>Podcasting 2.0 Chapters</h3>

        <p>
          If you came here looking for the <a href="{{ path('podcasting20') }}">Podcasting 2.0</a> chapters maintained
          by <a href="{{ drebscott_url }}">Dreb Scott</a>, those work a bit different. The No Agenda Show uses Podcasting
          2.0 chapters to update the artwork while the show is playing. You can see it in action right here on the website
          or in a <a href="{{ newpodcastapps_url }}">new podcast app</a>.
        </p>
      </div>
    </section>

    <section class="section">
      <div class="section-content">
        <h3>Chapter Suggestions</h3>

        <p>
          We're looking for producers who want to help us manage and curate website chapters. Interested in contributing
          to the best website in the universe? Contact <a href="{{ social_profile_url }}">Ben on No Agenda Social</a>!
        </p>
      </div>
    </section>
  </div>
{% endblock %}
