{% extends 'base.html.twig' %}

{% set page_title = "No Agenda #{episode}" %}
{% set page_url = url('podcast_episode', {code: episode.code}) %}

{% block metatags %}
  {{ parent() }}
  <meta property="og:title" content="No Agenda Show {{ episode }}"/>
  <meta property="og:description" content="Listen to No Agenda Show {{ episode }}."/>
  <meta property="og:url" content="{{ page_url }}"/>
  <meta property="og:image" content="{{ episode|episode_cover('small') }}"/>
{% endblock %}

{% block content %}
  {% include 'podcast/episode/header.html.twig' with {current_page: 'overview'} %}

  <section class="section">
    <div class="section-content">
      <h2>Credits</h2>
      <h3>Hosts</h3>
      <p><a href="{{ path('adam') }}">Adam Curry</a> & <a href="{{ path('john') }}">John C. Dvorak</a></p>

      {% if shownotes %}
        {% for credit_title, credits in shownotes.credits %}
          <h3>{{ credit_title }}</h3>
          <p>{{ credits|join(', ')|raw }}</p>
        {% endfor %}
      {% endif %}
    </div>
  </section>

  <section class="section">
    <div class="section-content">
      <h2>Information</h2>
      <p>Episode "{{ episode }}" was recorded on {{ episode.publishedAt|prettyDate }}.</p>
    </div>
    <div class="section-buttons-full">
      <a href="{{ episode.recordingUri }}" class="btn btn-accent">
        <span class="btn-icon fa-solid fa-download fa-fw" aria-hidden="true"></span>
        <span>Direct Link to Audio (Download)</span>
      </a>
      {% if episode.publicShownotesUri %}
        <a href="{{ episode.publicShownotesUri }}" class="btn btn-accent">
          <span>View Episode on adam.curry.com</span>
        </a>
      {% endif %}
    </div>
  </section>

  {% if chapters %}
    <section class="section">
      <div class="section-content">
        <h2>Chapters</h2>

        <div class="chapters">
          {% for chapter in chapters %}
            <div
              class="chapter"
              data-controller="chapter"
              data-chapter-metadata-value="{{ episode|player_metadata|json_encode|e('html') }}"
              data-chapter-timestamp-value="{{ chapter.startTime }}"
            >
              <div class="chapter-header">
                <div
                  role="button"
                  title="Copy Link for this Chapter to the Clipboard"
                  class="chapter-timestamp"
                  data-clipboard-text="{{ url('podcast_episode_chapters', {code: episode.code, t: chapter.startTime|prettyTimestamp}) }}"
                >
                  {{ chapter.startTime|prettyTimestamp }}
                </div>
                <div
                  role="button"
                  title="Start Playing Chapter"
                  class="chapter-title"
                  data-action="click->chapter#play"
                >
                  {{ chapter.title }}
                </div>
                {% if chapter.url|default(null) %}
                  <a href="{{ chapter.url }}" class="chapter-link">
                    <span class="btn-icon fa-solid fa-external-link fa-fw" aria-hidden="true"></span>
                  </a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}

  <section class="section">
    <div class="section-content">
      <h2>Propagate the Formula</h2>
    </div>
    <div class="section-buttons-full">
      <button class="btn btn-accent" data-clipboard-text="{{ page_url }}">
        <span class="btn-icon fa-solid fa-link fa-fw" aria-hidden="true"></span>
        <span>Copy Episode Link</span>
      </button>
      <a href="https://sharetomastodon.github.io/?title={{ page_title }}&url={{ page_url }}" class="btn btn-accent">
        <span class="btn-icon fa-brands fa-mastodon fa-fw" aria-hidden="true"></span>
        <span>Share on the Fediverse</span>
      </a>
      <a href="https://twitter.com/intent/tweet?text={{ page_title }} {{ page_url }}" class="btn btn-accent">
        <span class="btn-icon fa-brands fa-twitter fa-fw" aria-hidden="true"></span>
        <span>Share on Twitter</span>
      </a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ page_url }}" class="btn btn-accent">
        <span class="btn-icon fa-brands fa-facebook fa-fw" aria-hidden="true"></span>
        <span>Share on Facebook</span>
      </a>
    </div>
  </section>

  {% dump chapters %}
{% endblock %}
