<div class="col-md-6 col-lg-4">
  <a class="d-block" href="{{ site.uri }}">
    <h4>
      {{ site.name|raw }}
      {% if site.icon %}<span class="fab fa-{{ site.icon }} ml-1"></span>{% endif %}
    </h4>
    <span class="text-muted">
      {{ site.displayUri }}
      {% if site.createdAt > date('-30days') %}<span class="badge badge-secondary text-uppercase ml-1">New</span>{% endif %}
    </span>
    <p>{{ site.description }}</p>
  </a>
</div>
