{{ form_start(registrationForm, {attr: {class: 'mx-2 mx-lg-5'}}) }}
  <div class="text-center my-5">
    <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
    <p class="mx-2" style="height: 50px;">Create an account to help out building a catalog of the best podcast in the universe.</p>
  </div>

  {% include 'blocks/alerts.html.twig' with {alerts: registrationMessages} %}

  <div class="form-group">
    {{ form_label(registrationForm.username, null, {label_attr: {class: 'sr-only'}}) }}
    {{ form_widget(registrationForm.username, {attr: {class: 'form-control-lg', placeholder: 'Username'}}) }}
    {{ form_errors(registrationForm.username) }}
  </div>

  <div class="form-group">
    {{ form_label(registrationForm.password.first, null, {label_attr: {class: 'sr-only'}}) }}
    {{ form_widget(registrationForm.password.first, {attr: {class: 'form-control-lg', placeholder: 'Password'}}) }}
    {{ form_errors(registrationForm.password.first) }}
  </div>

  <div class="form-group">
    {{ form_label(registrationForm.password.second, null, {label_attr: {class: 'sr-only'}}) }}
    {{ form_widget(registrationForm.password.second, {attr: {class: 'form-control-lg', placeholder: 'Confirm password'}}) }}
    {{ form_errors(registrationForm.password.second) }}
  </div>

  <div class="form-group">
    {{ form_label(registrationForm.email, null, {label_attr: {class: 'sr-only'}}) }}
    <small class="form-text text-muted m-1">
      Optionally, add your email address to retrieve your account when you lost your password.
    </small>
    {{ form_widget(registrationForm.email, {attr: {class: 'form-control-lg', placeholder: 'Email address'}}) }}
    {{ form_errors(registrationForm.email) }}
  </div>

  {{ form_rest(registrationForm) }}

  <div class="btn-toolbar justify-content-center mb-5">
    <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
  </div>
{{ form_end(registrationForm) }}
