{% extends 'base.html.twig' %}

{% set page_title = 'Troll Room' %}

{% block body_attributes 'class="body-chat"' %}

{% block content %}
  <section class="section">
    <div class="section-content">
      <h1>Troll Room</h1>
      <p>
        Welcome to the No Agenda Troll Room. Feel free to troll around while enjoying the
        <a href="{{ path('livestream') }}">No Agenda Stream</a>, but remember to stay civil. Note that to participate
        in the Troll Room you need to <a href="{{ path('livestream', {_fragment: 'register'}) }}">register a nickname</a>
        however, following along is completely commitment-free.
      </p>
    </div>
    <div class="section-buttons-full">
      {% set player_metadata = player_livestream_metadata() %}
      <a
        href="{{ player_metadata.src }}"
        class="btn"
        data-controller="play"
        data-action="play#clicked"
        data-play-metadata-value="{{ player_metadata|json_encode|e('html') }}"
      >
        <span class="btn-icon fa-solid fa-play" aria-hidden="true" data-play-target="icon"></span>
        <span data-play-target="text">Listen Now</span>
      </a>
      <a href="{{ chat_embed_url }}" target="_blank" class="btn btn-link">Open in New Window</a>
    </div>
  </section>

  <section class="section chat">
    <div class="section-content">
      <iframe src="{{ chat_embed_url }}"></iframe>
    </div>
  </section>
{% endblock %}
