<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>Donate to the No Agenda Show</title>
    <meta name="description" content="Support the No Agenda Show through the value-for-value model!">

    {% block stylesheets %}
      {{ encore_entry_link_tags('app', null, 'app') }}
    {% endblock %}

    {% block scripts %}
      {{ encore_entry_script_tags('app', null, 'app') }}
    {% endblock %}
  </head>
  <body>
    <img src="{{ asset('media/donations-header.png') }}" style="width: 100vw;">

    <main>
      <div class="section-row section-promo-row">
        <section class="section">
          <div class="section-content">
            <h1>No Agenda Support Page</h1>

            <p>Unlike any other broadcasts, <a href="{{ url('root') }}">No Agenda</a> has decided to be a solely listener supported production. This means the listeners contribute to the show both financially and through volunteerism. If you feel you are getting value from this show, please help us by becoming a supporter and passing the word that No Agenda is THE BEST PODCAST IN THE UNIVERSE.</p>
            <p><strong>We count on you, to make this work.</strong></p>
            <p>
              Donations to the No Agenda Show can only be sent through PayPal or as a check to<br>
              <em>No Agenda Show, Box 339, El Cerrito, CA 94530</em>.
            </p>
          </div>
        </section>
        <div class="section-promo">
          <a href="{{ donate_url }}" class="btn btn-donate">Donate Now</a>
        </div>
      </div>

      <div class="section-row">
        <section class="section">
          <div class="section-content">
            <h2>One-Time Credited Donation</h2>

            <p>To make a ONE-TIME contribution of any amount <a href="#">please click here</a>.</p>
            <p>
              Donors contributing $50 and above will get a special mention on the show. Donors of $200 or more will become
              executive producer of the show while donors of $300 or more will automatically become associate executive producers.
            </p>
            <p>
              Anyone donating $49.99 or less will automatically remain anonymous. Any donation requesting anonymity will also
              be respected.
            </p>
          </div>
        </section>
        <section class="section">
          <div class="section-content">
            <h2>Knighthoods</h2>

            <p>Producers who donate $1,000 or help us produce the show in other valuable ways are granted an exclusive title as Knight of the No Agenda Roundtable. Achieving this title awards you with an exclusive signet ring you can use to hit people in the mouth.</p>
          </div>
          <div class="section-buttons">
            <a href="{{ donate_url }}" class="btn btn-donate">Become a Knight</a>
            <a href="{{ knightring_url }}" class="btn btn-wide">Order your Ring</a>
          </div>
        </section>
      </div>

      <section class="section">
        <div class="section-content">
          <h2>Credits</h2>
          <p>
            We ask anybody who donates to the show to send a donation note via email to <a href="mailto:{{ donate_email|raw }}?subject=No Agenda Donation" title="Email the Show">{{ donate_email }}</a>.
            While generally only notes from executive producers are read on the show because of time constraints, we
            read all of them.
          </p>
          <h3>Executive Producership</h3>
          <p>Donors of $200 or more will become executive producer of the show while donors of $300 or more will automatically become associate executive producers. You can use these credits anywhere you'd like and if anybody questions the validity of your producership, we'll be happy to vouch for you.</p>
          <h3>Episode Club</h3>
          <p>Producers matching their donation amount with the show number will become member of the exclusive episode club.</p>
          <h3>Knighthoods</h3>
          <p>
            Producers who donate $1,000 or help us produce the show in other valuable ways are granted an
            exclusive title as Knight of the No Agenda Roundtable. Men are given the moniker "Sir" and women are granted
            the title of "Dame". In addition to knighthood, producers can receive several title changes:
          </p>
          <ul>
            <li>
              <strong>Baronet/Baronetess ($2,000)</strong>
            </li>
            <li>
              <strong>Baron/Baroness ($3,000)</strong>
              <div>You may request a territory to rule.</div>
            </li>
            <li>
              <strong>Viscount/Viscountess ($5,000)</strong>
              <div>Additional lands within reason are granted as part of an expanded Barony.</div>
            </li>
            <li>
              <strong>Earl or Count/Countess ($7,000)</strong>
            </li>
            <li>
              <strong>Duke/Duchess ($10,000)</strong>
              <div>Additional lands within reason are granted as part of your Dukedom.</div>
            </li>
            <li>
              <strong>Arch Duke/Duchess ($20,000)</strong>
            </li>
            <li>
              <strong>Grand Duke/Duchess ($33,000)</strong>
              <div>Entire nations will be assigned to Grand Dukes until all territories of the world are accounted for.</div>
            </li>
          </ul>
          <p>
            Note that we do not keep track of which territories have been claimed. When time comes, the Dukes will
            have to resolve this on their own.
          </p>
          <p>
            Producers who've achieved knighthood are awarded an exclusive signet ring they can use to hit people in the mouth. <a href="{{ knightring_url }}">Click here to order your ring.</a>
          </p>
        </div>
      </section>

      <div class="section-row">
        <section class="section">
          <div class="section-content">
            <h2>Knight Layaway Plan</h2>

            <p>This is our original 20 month program whereby you can obtain your Knighthood with a monthly $50 donation for 20 months. <a href="#">Click here for that.</a></p>
          </div>
        </section>
        <section class="section">
          <div class="section-content">
            <h2>Podcasting 2.0</h2>

            <p>You can also support us through a modern podcasting app!</p>
          </div>
          <div class="section-buttons-full">
            <a href="{{ newpodcastapps_url }}" class="btn">
              <span class="btn-icon fa-solid fa-podcast" aria-hidden="true"></span>
              <span>Try a New Podcast App</span>
            </a>
            <a href="{{ url('podcasting20') }}" class="btn btn-link">Learn More</a>
          </div>
        </section>
      </div>

      <section class="section">
        <div class="section-content">
          <h2>Learn More</h2>
          <p>Interested in learning more about our show? Check out our website at <a href="{{ url('root') }}">noagendashow.net</a>.</p>
        </div>
        <div class="section-buttons">
          <a href="{{ url('root') }}" class="btn btn-wide">Visit our Website</a>
          <a href="{{ donate_url }}" class="btn btn-donate">Donate to the Show</a>
        </div>
      </section>
    </main>
  </body>
</html>
