{% extends 'base.html.twig' %}

{% set page_title = 'Producers of No Agenda' %}
{% set page_description = 'The contributions of producers of The No Agenda Show' %}

{% block content %}
  <section class="section intro intro-accent">
    <div class="section-content">
      <h1>No Agenda Producers</h1>
      <p>No Agenda is more than just a podcast, it's a community.</p>
    </div>
    <div class="section-buttons-full">
      <a href="{{ path('about_community') }}" class="btn btn-accent-2">About our community</a>
    </div>
  </section>

  <section class="section section-narrow">
    <div class="section-content">
      <h2>Value 4 Value</h2>
      <p>
        Producers use their time, talent and treasure to keep our show running. We call this the value-for-value model,
        and it was pioneered by this very show. Using value to support your interests is
        <a href="{{ value4value_url }}">a lifestyle</a> everybody can enjoy, so don't be a douchebag and start living.
      </p>
    </div>
    <div class="section-buttons-full">
      <a href="{{ path('about_value4value') }}" class="btn btn-accent">About Value 4 Value</a>
      <a href="{{ path('about_donations') }}" class="btn btn-donate">Donate to the Show</a>
    </div>
  </section>

  <div class="section-gutter"></div>

  {% set animated_url = 'https://www.youtube.com/channel/UCihyXCKCTKZ0H6OQRpKN5qQ/videos' %}
  <section class="section">
    <div class="section-content">
      <h2><a href="{{ animated_url }}">Animated No Agenda</a></h2>
      <p>
        No Agenda makes people laugh and it's even funnier in cartoon form. Created by
        <a href="{{ damejennifer_url }}">Dame Jennifer</a>, Animated No Agenda is the easiest way to hit
        your comrades in the mouth.
      </p>
    </div>
    <div class="episodes">
      <div class="episode-spacer"></div>
      {% for video in videos %}
        <a href="https://www.youtube.com/watch?v={{ video.youtubeId }}" class="episode">
          <img src="https://i.ytimg.com/vi/{{ video.youtubeId }}/mqdefault.jpg" alt="{{ video.title }}">
          <h3>{{ video.title|replace({'Animated No Agenda - ': ''}) }}</h3>
        </a>
      {% endfor %}
      <div class="episode-spacer"></div>
    </div>
    <div class="section-buttons">
      <a href="{{ animated_url }}" class="btn btn-accent btn-wide">
        <span class="btn-icon fa-brands fa-youtube" aria-hidden="true"></span>
        <span>More Videos</span>
      </a>
    </div>
  </section>

  <div class="section-gutter"></div>

  <section class="section">
    <div class="section-content">
      <h2 id="projects">Producer Projects</h2>
      <p>
        Some producers have gone extra lengths to provide their time and talent by creating projects expanding the
        No Agenda community into unknown territories. <em>These projects are not associated with No Agenda. We have no
        control over their content.</em>
      </p>
      <p>
        Did you create something for No Agenda you'd like to show off? <a href="{{ codedmonkey_url }}">Let us know</a>.
      </p>
      <div class="sites">
        {% for site in network_sites %}
          <a href="{{ site.uri }}" class="site">
            <div class="site-content">
              <h3>
                {{ site.name|raw }}
              </h3>
              <div class="emphasis">{{ site.displayUri }}</div>
              <div>{{ site.description }}</div>
            </div>
            {% if site.icon %}
              <div class="site-icon">
                <span class="{{ site.icon }} fa-fw" aria-hidden="true"></span>
              </div>
            {% endif %}
          </a>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}

{% block footer %}
  {% include 'footer.html.twig' %}
{% endblock %}
