{% extends 'base.html.twig' %}

{% import 'podcast/macro.html.twig' as podcast %}

{% set page_description = 'No Agenda, twice weekly media deconstruction podcast by Adam Curry & John C. Dvorak.' %}

{% block content %}
  <section class="section">
    <div class="section-header">
      <h2 class="grow">Start Listening</h2>
      <a href="{{ path('podcast', {_fragment: 'archive'}) }}" class="btn btn-small btn-wide">Browse the Archive</a>
    </div>
    <div class="episodes">
      <div class="episode-spacer"></div>
      {% for episode in latest_episodes %}
        <a href="{{ path('podcast_episode', {code: episode.code}) }}" title="Listen to No Agenda Show {{ episode }}" class="episode">
          <img src="{{ episode|episode_cover('small') }}" alt="Cover for No Agenda Show {{ episode.code }}">
          <div>{{ episode.publishedAt|date('F jS') }}</div>
          <h3>{{ episode }}</h3>
        </a>
      {% endfor %}
      <div class="episode-spacer"></div>
    </div>
    <div class="section-buttons">
    </div>
  </section>

  <section class="section hide" aria-hidden="true" data-controller="play-history">
    <template data-play-history-target="template">
      <a href="" title="" class="episode">
        <img src="" alt="">
        <div data-play-history-template-target="remaining"></div>
        <h3></h3>
      </a>
    </template>
    <div class="section-content">
      <h2>Continue Playing</h2>
    </div>
    <div class="episodes" data-play-history-target="container"></div>
  </section>

  <section class="section intro intro-accent">
    <div class="section-content">
      <h1 class="sr-text">No Agenda Show</h1>
      <h2 class="lead">The Best Podcast in the Universe</h2>
      <p>
        Welcome to The No Agenda Show, an award-winning podcast where <a href="{{ path('adam') }}">Adam Curry</a>
        and <a href="{{ path('john') }}">John C. Dvorak</a>, two experts from the media industry, discuss news &
        politics.
      </p>
      <p>
        Twice a week they deconstruct the news cycle and give insights into the narrative of the mainstream
        media, governments and political campaigns around the world.
      </p>
    </div>
    <div class="section-buttons-full">
      <a href="{{ path('subscribe') }}" class="btn btn-wide">Subscribe to the Show</a>
      <a href="{{ path('about_root') }}" class="btn btn-accent-2 btn-wide">Hit Me in the Mouth</a>
    </div>
  </section>

  <section class="section intro">
    <div class="section-content">
      <h2 class="lead-small">Value 4 Value</h2>
      <p>
        Unlike any other broadcasts, No Agenda has decided to be a solely listener-supported production. This means the
        listeners contribute to the show both financially and through volunteerism, something we call the
        <a href="{{ path('producers') }}">value-for-value model</a>.
      </p>
      <p>
        If you're getting value from our show, please help us by providing your time, talent or treasure.
      </p>
    </div>
    <div class="section-buttons-full">
      <a href="{{ donate_url }}" class="btn btn-donate btn-wide">Donate to the Show</a>
    </div>
  </section>
{% endblock %}

{% block footer %}
  {% include 'footer.html.twig' %}
{% endblock %}
