{% extends 'base.html.twig' %}

{% import 'call2action.html.twig' as call2action %}

{% set page_title = 'No Agenda Website' %}
{% set page_description = 'The No Agenda Website is part of the value for value model' %}

{% block content %}
  <section class="section">
    <div class="section-content">
      <h1>No Agenda Website</h1>
      <p>
        The website of The No Agenda Show was created by one of our dudes named Ben under the value for value model.
        <a href="#">Originally designed as an archive of the show</a>, the website is now a full custom-built podcast
        app for our show, complete with <a href="{{ path('podcasting20') }}">Podcasting 2.0</a> integration.
      </p>
      <p>
        Maintaining a website that's pushing the boundaries of podcasting isn't easy, so I've created the
        <a href="{{ dudenamedben_url }}">Dude Named Ben Blog</a> to tell your more about it. If you like this website
        and would like it to keep improving in the future, consider helping Ben out with a donation.
      </p>
    </div>
    <div class="section-buttons-full">
      <a href="#credits" class="btn">Executive Producers</a>
      <a href="{{ dudenamedben_donate_url }}" class="btn btn-donate">Support Ben with a Donation</a>
      <a href="{{ dudenamedben_url }}" class="btn btn-link">Dude Named Ben Blog</a>
    </div>
  </section>

  <div class="section-gutter"></div>

  <section class="section">
    <div class="section-content">
      <h2 id="glitches">Experiencing a Glitch?</h2>
      <h3>Not Receiving Push Notifications</h3>
      <p>
        In case you've subscribed to push notifications but haven't received any, your browser might not support push notifications.
        Try enabling push notifications in a different browser, like <a href="https://www.mozilla.org/">Firefox</a>.
        If you have an iPhone or iPad, push notifications can't be enabled until Apple adds support to Safari (this is also the
        case for Safari users on Mac).
      </p>
    </div>
  </section>

  <div class="section-gutter"></div>

  <section class="section">
    <div class="section-content">
      <h2>Help Us Improve</h2>
      <p>
        The code of this website is <a href="{{ github_url }}">available for free</a> under an open-source license. That
        means anybody is free to make improvements, or to use the code for their own projects. Did you find
        something that's not working as expected, or do you have any feedback or questions on how the website works,
        <a href="{{ github_url }}/issues">create an issue</a> on GitHub or contact the website developer
        <a href="{{ codedmonkey_url }}">Coded Monkey</a> or our system admin <a href="{{ voidzero_url }}">voidzero</a>.
      </p>
    </div>
    <div class="section-buttons-full">
      <a href="{{ github_url }}" class="btn btn-accent">View Code on GitHub</a>
    </div>
  </section>

  <div class="section-gutter"></div>

  <section class="section">
    <div class="section-content">
      <h2 id="credits">Executive Producers</h2>
      <p>
        The following people are executive producers of the website by providing their <a href="{{ github_url }}">time and talent</a>
        or <a href="{{ dudenamedben_donate_url }}">treasure</a>.
      </p>
      <ul>
        <li>Sir Tim, Knight of the JIT Shenanigans</li>
        <li>Clogwog</li>
        <li><a href="https://noauthority.social/@professortom">Professor Tom</a></li>
        <li><a href="http://curtgrimes.com/">Curt Grimes</a></li>
        <li><a href="{{ voidzero_url }}">voidzero</a></li>
        <li>DameGerous</li>
      </ul>
    </div>
  </section>

  <div class="section-gutter"></div>

  <div class="section-row">
    {{ call2action.producers() }}
    {{ call2action.podcasting20() }}
  </div>
{% endblock %}
