{% set root_url = 'https://www.noagendashow.net' %}
{% set donate_direct_url = 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=74YKLCFZ4AXBC' %}
{% set donate_layaway_url = 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=P8AK72ZNJFVZ6' %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>Support the No Agenda Show</title>
    <meta name="description" content="Support the No Agenda Show through the value-for-value model!">

    {{ encore_entry_link_tags('slim', null, 'slim') }}
  </head>
  <body>
    <img src="{{ root_url }}{{ asset('media/donations-header.png') }}" alt="No Agenda Episode Artwork" class="fullwidth">

    <main>
      <div class="section-row section-promo-row">
        <section class="section">
          <div class="section-content">
            <h1>No Agenda Support Page</h1>

            <p>
              Unlike any other broadcasts, <a href="{{ root_url }}{{ path('root') }}">No Agenda</a> has decided to be a solely listener supported production.
              This means the listeners contribute to the show both financially and through volunteerism, something we call the <a href="{{ root_url }}{{ path('producers') }}">value-for-value model</a>.
            </p>
            <p>
              If you feel you are getting value from this show, please help us by becoming a producer and passing the word that No Agenda is THE BEST PODCAST IN THE UNIVERSE.
              <strong>We count on you, to make this work.</strong> Visit our website to learn how others <a href="{{ root_url }}{{ path('producers') }}">help us produce the show</a> with their time, talent and treasure.
            </p>

            <div class="notice notice-accent">
              <div class="notice-text">
                Donations to the No Agenda Show can only be sent through PayPal or as a check to<br>
                <em>No Agenda Show, Box 339, El Cerrito, CA 94530</em>.
              </div>
            </div>
          </div>
        </section>

        <div class="section-promo">
          <a href="{{ donate_direct_url }}" class="btn btn-large btn-donate">Donate Now</a>
        </div>
      </div>

      <div class="section-row">
        <section class="section">
          <div class="section-content">
            <h2>One-Time Credited Donation</h2>

            <p>To make a ONE-TIME contribution of any amount <a href="{{ donate_direct_url }}">please click here</a>.</p>
            <p>
              Donors contributing $50 and above will get a special mention on the show. Donors of $200 or more will become
              executive producer of the show while donors of $300 or more will automatically become associate executive producers.
            </p>
            <p>
              Anyone donating $49.99 or less will automatically remain anonymous. Any donation requesting anonymity will also
              be respected.
            </p>
          </div>
        </section>

        <section class="section">
          <div class="section-content">
            <h2>Knighthoods</h2>

            <p>Producers who donate $1,000 or help us produce the show in other valuable ways are granted an exclusive title as Knight of the No Agenda Roundtable. Achieving this title awards you with an exclusive signet ring you can use to hit people in the mouth.</p>
          </div>
          <div class="section-buttons">
            <a href="{{ donate_direct_url }}" class="btn btn-donate">Become a Knight</a>
            <a href="{{ knightring_url }}" class="btn btn-wide">Order your Ring</a>
          </div>
        </section>
      </div>

      <section class="section">
        <div class="section-content">
          <h2>Titles &amp; Credits</h2>

          <div class="notice notice-accent">
            <div class="notice-text">
              We ask anybody who donates to the show to send a donation note via email to
              <a href="mailto:{{ donate_email|raw }}?subject=No Agenda Donation" title="Email the Show">{{ donate_email }}</a>.
              While generally only notes from executive producers are read on the show because of time constraints, we
              read all of them.
            </div>
          </div>

          <h3>Executive Producership</h3>
          <p>Donors of $200 or more will become associate executive producer of the show while donors of $300 or more will automatically become executive producers. You can use these credits anywhere you'd like and if anybody questions the validity of your producership, we'll be happy to vouch for you.</p>

          <h3>Episode Club</h3>
          <p>Producers matching their donation amount with the show number will become member of the exclusive episode club.</p>

          <h3>Knight Layaway Plan</h3>
          <p>This is our original 20-month program whereby you can obtain your knighthood with a monthly $50 donation for 20 months. <a href="{{ donate_layaway_url }}">Click here to start</a> your journey to knighthood.</p>
        </div>
      </section>

      <div class="section-row section-promo-row">
        <section class="section">
          <div class="section-content">
            <h3>Knighthoods</h3>
            <p>
              Producers who donate $1,000 or help us produce the show in other valuable ways are granted an
              exclusive title as Knight of the No Agenda Roundtable. Men are given the moniker "Sir" and women are granted
              the title of "Dame". In addition to knighthood, producers can receive several title changes:
            </p>
            <ul>
              <li>
                <strong>Baronet/Baronetess ($2,000)</strong>
              </li>
              <li>
                <strong>Baron/Baroness ($3,000)</strong>
                <div>You may request a territory to rule.</div>
              </li>
              <li>
                <strong>Viscount/Viscountess ($5,000)</strong>
                <div>Additional lands within reason are granted as part of an expanded Barony.</div>
              </li>
              <li>
                <strong>Earl or Count/Countess ($7,000)</strong>
              </li>
              <li>
                <strong>Duke/Duchess ($10,000)</strong>
                <div>Additional lands within reason are granted as part of your Dukedom.</div>
              </li>
              <li>
                <strong>Arch Duke/Duchess ($20,000)</strong>
              </li>
              <li>
                <strong>Grand Duke/Duchess ($33,000)</strong>
                <div>Entire nations will be assigned to Grand Dukes until all territories of the world are accounted for.</div>
              </li>
            </ul>
            <p>
              Note that we do not keep track of which territories have been claimed. When time comes, the Dukes will
              have to resolve this on their own.
            </p>
            <p>
              Producers who've achieved knighthood are awarded an exclusive signet ring they can use to hit people in the mouth. <a href="{{ knightring_url }}">Click here to order your ring.</a>
            </p>
          </div>
        </section>

        <div class="section-promo light-only" style="padding: 32px;">
          <svg xmlns="http://www.w3.org/2000/svg" height="8em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#444444}</style><path d="M256 0c4.6 0 9.2 1 13.4 2.9L457.7 82.8c22 9.3 38.4 31 38.3 57.2c-.5 99.2-41.3 280.7-213.6 363.2c-16.7 8-36.1 8-52.8 0C57.3 420.7 16.5 239.2 16 140c-.1-26.2 16.3-47.9 38.3-57.2L242.7 2.9C246.8 1 251.4 0 256 0zm0 66.8V444.8C394 378 431.1 230.1 432 141.4L256 66.8l0 0z"/></svg>
        </div>
        <div class="section-promo dark-only" style="padding: 32px;">
          <svg xmlns="http://www.w3.org/2000/svg" height="8em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#d0d0d0}</style><path d="M256 0c4.6 0 9.2 1 13.4 2.9L457.7 82.8c22 9.3 38.4 31 38.3 57.2c-.5 99.2-41.3 280.7-213.6 363.2c-16.7 8-36.1 8-52.8 0C57.3 420.7 16.5 239.2 16 140c-.1-26.2 16.3-47.9 38.3-57.2L242.7 2.9C246.8 1 251.4 0 256 0zm0 66.8V444.8C394 378 431.1 230.1 432 141.4L256 66.8l0 0z"/></svg>
        </div>
      </div>

      <div class="section-row">
        <section class="section">
          <div class="section-content">
            <h2>Newsletter</h2>

            <p>Subscribe to our newsletter for information about upcoming shows, behind-the-scenes details and more!</p>
          </div>
          <div class="section-buttons-full">
            <a href="{{ newsletter_signup_url }}" class="btn">Subscribe Now</a>
          </div>
        </section>
        <section class="section">
          <div class="section-content">
            <h2>Podcasting 2.0</h2>

            <p>You can also support us through a modern podcasting app.</p>
          </div>
          <div class="section-buttons-full">
            <a href="{{ newpodcastapps_url }}" class="btn">Try a New Podcast App</a>
            <a href="{{ root_url }}{{ path('podcasting20') }}" class="btn btn-link">Learn More</a>
          </div>
        </section>
      </div>

      <section class="section">
        <div class="section-content">
          <h2>Learn More</h2>
          <p>Interested in learning more about our show? Check out our website at <a href="{{ root_url }}">noagendashow.net</a>.</p>
        </div>
        <div class="section-buttons">
          <a href="{{ root_url }}" class="btn btn-wide">Visit our Website</a>
          <a href="{{ donate_direct_url }}" class="btn btn-donate">Donate to the Show</a>
        </div>
      </section>
    </main>
  </body>
</html>
