{% extends 'layout.html.twig' %}

{% set page_description = 'No Agenda, a twice weekly podcast about politics by Adam Curry & John C. Dvorak.' %}

{% block content %}
  <div class="container">
    <p class="my-3">
      Welcome to the home of The No Agenda Show, an award-winning podcast where Adam Curry and John C. Dvorak, two experts
      from the media industry, discuss news &amp; politics. Twice a week they deconstruct the news cycle and give insights
      into the narrative of the mainstream media, governments and political campaigns. For more information, please read
      <a class="text-underline" href="{{ path('mission_statement') }}">our mission statement</a>.
    </p>

    <div class="my-4">
      <div class="row">
        <div class="col-md md-separator">
          <a href="{{ path('podcast') }}">
            <div class="d-flex justify-content-between">
              <div class="my-2">
                <div class="h3 mb-0">Subscribe to the Podcast</div>
                <span>New episodes every Thursday and Sunday</span>
              </div>
              <div class="d-flex align-items-center">
                <span class="fas fa-podcast fa-3x fa-fw ml-2 text-itunes" aria-hidden="true"></span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md">
          <a href="http://www.gitmonation.com/signup.htm" target="_blank">
            <div class="d-flex justify-content-between">
              <div class="my-2">
                <div class="h3 mb-0">Subscribe to the Newsletter</div>
                <span>No Agenda in your mailbox</span>
              </div>
              <div class="d-flex align-items-center">
                <span class="fas fa-envelope fa-3x fa-fw ml-2" aria-hidden="true" style="color: #dadada;"></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section-dark pt-4 pb-3">
    <div class="container">
      <h2 class="mb-3">Latest Episodes</h2>
      <div class="row mt-3">
        {% for episode in latest_episodes %}
          <div class="col-sm-6 col-lg-3">
            {% include 'archive/parts/item.html.twig' %}
          </div>
        {% endfor %}
      </div>
      <div class="d-flex justify-content-end">
        <a class="btn btn-link" href="{{ path('archive') }}">
          View the full archive <span class="fas fa-angle-right ml-1" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="mt-4 mb-3">
      <div class="row">
        <div class="col-md md-separator">
          <a href="{{ path('mission_statement') }}">
            <div class="d-flex justify-content-between">
              <div class="my-2">
                <div class="h3 mb-0">Mission Statement</div>
                <span>What No Agenda is all about</span>
              </div>
              <div class="d-flex align-items-center">
                <span class="fas fa-file-alt fa-3x fa-fw ml-2" aria-hidden="true"></span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md">
          <a href="https://podcastindex.org" target="_blank">
            <div class="d-flex justify-content-between">
              <div class="my-2">
                <div class="h3 mb-0">Podcasting 2.0</div>
                <span>Help us preserve the feed-based podcasting ecosystem</span>
              </div>
              <div class="d-flex align-items-center">
                <span class="fas fa-broadcast-tower fa-3x fa-fw ml-2" aria-hidden="true"></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <h2 class="mt-4 mb-3">Animated No Agenda</h2>
    <div class="row">
      {% for video in videos %}
        <div class="col-md-4">
          <a class="archive-item" href="https://www.youtube.com/watch?v={{ video.youtubeId }}">
            <div class="archive-item-body">
              <img src="https://i.ytimg.com/vi/{{ video.youtubeId }}/mqdefault.jpg" alt="{{ video.title }}" class="img-fluid w-100"/>
              <div class="archive-item-text">
                <div class="h4">{{ video.title|replace({'Animated No Agenda - ': ''}) }}</div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="d-flex justify-content-end">
      <a class="btn btn-link" href="https://www.youtube.com/channel/UCihyXCKCTKZ0H6OQRpKN5qQ/videos">
        Watch more Animated No Agenda videos <span class="fab fa-youtube ml-1" aria-hidden="true"></span>
      </a>
    </div>

    <div class="my-3">
      <div class="row">
        <div class="col-md md-separator">
          <a href="https://noagendasocial.com/@adam" target="_blank">
            <div class="d-flex justify-content-between">
              <div class="my-2">
                <div class="h3 mb-0">Follow Adam Curry</div>
                <span>@adam@noagendasocial.com</span>
              </div>
              <div class="d-flex align-items-center">
                <span class="fab fa-mastodon fa-3x fa-fw ml-2 text-mastodon" aria-hidden="true"></span>
              </div>
            </div>
          </a>
          <div class="mt-3">
            <a class="mr-3" href="http://curry.com" target="_blank">curry.com</a>
            <a href="https://twitter.com/adamcurry" target="_blank">
              <span class="fab fa-twitter fa-lg fa-fw text-twitter" title="@adamcurry" aria-hidden="true"></span>
            </a>
          </div>
        </div>
        <div class="col-md">
          <a href="https://noagendasocial.com/@johncdvorak" target="_blank">
            <div class="d-flex justify-content-between">
              <div class="my-2">
                <div class="h3 mb-0">Follow John C. Dvorak</div>
                <span>@johncdvorak@noagendasocial.com</span>
              </div>
              <div class="d-flex align-items-center">
                <span class="fab fa-mastodon fa-3x fa-fw ml-2 text-mastodon" aria-hidden="true"></span>
              </div>
            </div>
          </a>
          <div class="mt-3">
            <a class="mr-3" href="http://www.dvorak.org/blog/" target="_blank">dvorak.org</a>
            <a href="https://twitter.com/THErealDVORAK" target="_blank">
              <span class="fab fa-twitter fa-lg fa-fw text-twitter" title="@THErealDVORAK" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <h2 class="mt-4 mb-3">Community Network</h2>
    <div class="my-3">
      <div class="row">
        {% for site in network_sites %}
          {% include 'network/site.html.twig' %}
        {% endfor %}
      </div>
      {#
      Concept of network sites table
      {% if network_sites|length > 6 %}
        <div class="table-responsive">
          <table class="table">
            {% for site in network_sites|slice(6, 6) %}
              <tr>
                <td><a href="{{ site.uri }}">{{ site.name }}</a></td>
                <td class="text-muted">{{ site.description }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endif %}
      #}
    </div>
    <div class="d-flex justify-content-end">
      <a class="btn btn-link" href="{{ path('network') }}">
        View more network sites <span class="fas fa-angle-right ml-1" aria-hidden="true"></span>
      </a>
    </div>

    {% if feedback_items|length %}
      <h2 class="mt-4 mb-3">Website Contributions</h2>
      <div class="my-3">
        {% include 'feedback/parts/list.html.twig' with {items: feedback_items} %}
      </div>
      <div class="d-flex justify-content-end">
        <a class="btn btn-link" href="{{ path('contributions_open') }}">
          View more website contributions <span class="fas fa-angle-right ml-1" aria-hidden="true"></span>
        </a>
      </div>
    {% endif %}

    <div class="mt-4 pb-5">
      <div class="row">
        <div class="col-md md-separator">
          <a href="https://noagendasocial.com/@woodstock" target="_blank">
            <div class="d-flex justify-content-between">
              <div class="my-2">
                <div class="h3 mb-0">&copy; Created by a Dude Named Ben</div>
                <span>Learn more about this site by following Ben on No Agenda Social</span>
              </div>
              <div class="d-flex align-items-center">
                <span class="fab fa-mastodon fa-3x fa-fw ml-2 text-mastodon" aria-hidden="true"></span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md">
          <a href="https://github.com/NoAgenda/website" target="_blank">
            <div class="d-flex justify-content-between">
              <div class="my-2">
                <div class="h3 mb-0">Under the Value for Value Model</div>
                <span>View the source code, it's free!</span>
              </div>
              <div class="d-flex align-items-center">
                <span class="fas fa-code fa-3x fa-fw ml-2 text-mastodon" aria-hidden="true"></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <na-audio-toolbar-spacer></na-audio-toolbar-spacer>
  </div>
{% endblock %}
