{% extends '@EasyAdmin/page/content.html.twig' %}

{% set utilities = {
  'Analytics': 'https://analytics.codedmonkey.com/index.php?module=CoreHome&action=index&date=yesterday&period=day&idSite=2',
  'Error Monitoring': 'https://sentry.io/organizations/noagenda/issues/?project=6004526',
} %}

{% block content_title ea.dashboardTitle|raw %}
{% block main %}
  <div class="d-md-flex justify-content-between">
    <div class="mb-3">
      <a class="btn btn-primary {# mb-1 #}" href="#">Crawl Feed</a>
    </div>

    <div class="mb-3">
      {% apply spaceless %}
        {% for name, uri in utilities %}
          <a class="btn btn-secondary {# mb-1 #} {{ not loop.last ? 'me-1' }}" href="{{ uri }}" target="_blank">{{ name }}</a>
        {% endfor %}
      {% endapply %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="card rounded-0">
        <div class="card-header">Latest Contributions</div>
        <ul class="list-group list-group-flush">
          {% for item in latest_feedback_items %}
            {% set feedback_votes = feedback_vote_count(item.votes) %}

            <div href="{{ path('player', {episode: item.entity.episode.code }) }}" class="list-group-item" data-feedback>
              <div class="d-flex justify-content-between">
                <div>
                  {% set item_creator = item.entity.creator ? item.entity.creator.username : 'A guest producer' %}
                  {% set item_description = not item.entity.chapter ? 'a new chapter' : 'an improvement to a chapter' %}
                  <span class="d-block">{{ item_creator }} suggested {{ item_description }} for episode {{ item.entity.episode.code }}:</span>
                  <span class="d-block"><strong>{{ item.entity.name }}</strong></span>
                </div>
                <div>
                  <div class="mb-1">
                    <button class="btn btn-link text-success px-1">
                      <span class="fas fa-pencil-alt fa-fw" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-link text-success px-1 ms-1">
                      <span class="fas fa-check fa-fw" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-link text-danger px-1 ms-1">
                      <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ (feedback_votes.all / 100) * feedback_votes.supported }}%"></div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ (feedback_votes.all / 100) * feedback_votes.rejected }}%"></div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between mt-1">
                <div>
                  <button class="btn btn-link me-1 px-1" data-feedback-play>
                    <span class="fas fa-play fa-fw" aria-hidden="true"></span>
                  </button>
                  <a class="btn btn-link px-1" href="{{ path('player', {'episode': item.entity.episode.code}) }}" target="_blank">
                    <span class="fas fa-external-link-alt fa-fw" aria-hidden="true"></span>
                  </a>
                </div>
                <button class="btn btn-link px-1" data-feedback-expand>
                  <span class="fas fa-chevron-down fa-fw" aria-hidden="true"></span>
                </button>
              </div>
              <div class="d-none mt-2" data-feedback-details>
                <audio class="w-100 mb-2" src="{{ item.entity.episode.recordingUri }}" controls preload="none" data-starts-at="{{ item.entity.startsAt }}"></audio>
                <div class="row">
                  <div class="col-6">
                    <div class="text-success border-bottom pb-1">Supported: {{ feedback_votes.supported }}</div>
                    <span>N/A</span>
                  </div>
                  <div class="col-6">
                    <div class="text-danger border-bottom pb-1">Rejected: {{ feedback_votes.rejected }}</div>
                    <span>N/A</span>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{{ '#' }}">
            <span>All Contributions</span>
            <span class="fas fa-chevron-right me-1 fa-fw" aria-hidden="true"></span>
          </a>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card rounded-0">
        <div class="card-header">Latest Episodes</div>
        <div class="list-group list-group-flush">
          {% for episode in latest_episodes %}
            {% set episode_url = ea_url()
              .setController('App\\Controller\\Admin\\EpisodeCrudController')
              .setAction('show')
              .setEntityId(episode.id)
            %}
            <a class="list-group-item list-group-item-action d-flex justify-content-between" href="{{ episode_url }}">
              <span>{{ episode }}</span>
              <div class="d-flex">
                <div class="text-{{ episode.shownotes ? 'success' : 'danger' }} px-1 me-1" data-bs-toggle="tooltip" title="{{ episode.shownotes ? 'Shownotes' : 'No Shownotes' }}">
                  <span class="fas fa-file fa-fw" aria-hidden="true"></span>
                </div>
                <div class="text-{{ episode.transcript ? 'success' : 'danger' }} px-1 me-1" data-bs-toggle="tooltip" title="{{ episode.shownotes ? 'Transcript' : 'No Transcript' }}">
                  <span class="fas fa-list fa-fw" aria-hidden="true"></span>
                </div>
                <div class="text-{{ episode.chatArchive ? 'success' : 'danger' }} px-1" data-bs-toggle="tooltip" title="{{ episode.shownotes ? 'Chat Archive' : 'No Chat Archive' }}">
                  <span class="fas fa-comment fa-fw" aria-hidden="true"></span>
                </div>
              </div>
            </a>
          {% endfor %}
          {% set episodes_url = ea_url().setController('App\\Controller\\Admin\\EpisodeCrudController') %}
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{{ episodes_url }}">
            <span>All Episodes</span>
            <span class="fas fa-chevron-right me-1 fa-fw" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block head_javascript %}
  {{ parent() }}
  <script type="text/javascript">
    {% include 'admin/script.js.twig' %}
  </script>
{% endblock %}