{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Livestream Recordings' %}
{% block main %}
  <div class="m-3">
    <select class="form-control" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
      {% set today_url = ea_url().setRoute('admin_livestream_recordings') %}
      <option value="{{ today_url }}">Today</option>
      {% for date in dates %}
        {% set date_url = ea_url().setRoute('admin_livestream_recordings', {date: date}) %}
        <option value="{{ date_url }}" {% if current_date == date %}selected{% endif %}>
          {{ date|desimplifyDate }}
        </option>
      {% endfor %}
    </select>

    <hr>

    {% for recording in recordings %}
      <div class="card mb-3">
        <div class="card-header">
          <div class="h4 mb-0">Recording {{ recording.time|desimplifyTime }}</div>
        </div>
        <div class="card-body">
          {% if recording.recording %}
            <a class="btn btn-primary" href="{{ path('admin_livestream_recordings_download', {date: recording.date, time: recording.time}) }}">
              Download Recording
            </a>
          {% else %}
            <a class="btn btn-primary disabled" href="#">
              Recording unavailable
            </a>
          {% endif %}
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#time-{{ recording.time }}">
              Show Log
            </button>
        </div>
        <div class="card-body collapse p-0" id="time-{{ recording.time }}">
          <pre class="p-3"><code>{{ recording.logs }}</code></pre>
        </div>
      </div>
    {% else %}
      No recordings for this date found.
    {% endfor %}
  </div>
{% endblock %}
