{% extends '@EasyAdmin/page/content.html.twig' %}

{% set tasks = {
  feed: 'Crawl RSS-feed',
  bat_signal: 'Crawl Mastodon for bat signal',
  youtube: 'Crawl new Animated No Agenda videos',
} %}

{% set episode_tasks = {
  cover: 'Download episode cover',
  duration: 'Update episode duration',
  shownotes: 'Download episode shownotes',
  transcript: 'Download episode transcript',
} %}

{% block content_title 'Crawler' %}
{% block main %}
  <div class="mb-3">
    {% for task, task_description in tasks %}
    <form class="border-bottom p-2" data-crawler-form="{{ task }}">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column justify-content-center">{{ task_description }}</div>
        <div class="d-flex align-items-center">
          <button type="button" class="btn btn-primary me-2" style="width: 80px;" data-crawl>Run</button>
          <button type="button" class="btn btn-primary" style="width: 80px;" data-queue>Queue</button>
        </div>
      </div>
    </form>
    {% endfor %}
    {% for task, task_description in episode_tasks %}
    <form class="border-bottom p-2" data-crawler-form="{{ task }}">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column justify-content-center">{{ task_description }}</div>
        <div class="form-widget d-flex align-items-center">
          <input type="text" name="code" class="form-control me-2" autocomplete="off" style="width: 100px;"/>
          <button type="button" class="btn btn-primary me-2" style="width: 80px;" data-crawl>Run</button>
          <button type="button" class="btn btn-primary" style="width: 80px;" data-queue>Queue</button>
        </div>
      </div>
    </form>
    {% endfor %}
  </div>

  <script>
    window.addEventListener('load', () => {
      document.querySelectorAll('[data-crawler-form]').forEach(form => {
        form.querySelector('[data-crawl]').addEventListener('click', event => {
          event.preventDefault();

          const episodeCode = form.querySelector('[name="code"]')?.value;
          window.open(`/api/crawl/${form.dataset.crawlerForm}?token={{ security_token }}` + (episodeCode ? `&episode=${episodeCode}` : ''));
        });
        form.querySelector('[data-queue]').addEventListener('click', event => {
          event.preventDefault();

          const episodeCode = form.querySelector('[name="code"]')?.value;
          window.open(`/api/queue/${form.dataset.crawlerForm}?token={{ security_token }}` + (episodeCode ? `&episode=${episodeCode}` : ''));
        });
      });
    });
  </script>
{% endblock %}
