{% set chapter = item.entity %}
{% set episode = chapter.episode %}

{% set chapter_votes = feedback_vote_count(item.votes ?? []) %}

<div class="mr-3">
  {% set support_flavor_text = chapter_votes.supported == 1 ? 'producer agrees with this suggestion' : 'producers agree with this suggestion' %}
  <span class="text-success" title="{{ chapter_votes.supported }} {{ support_flavor_text }}">{{ chapter_votes.supported }}</span>

  {% set reject_flavor_text = chapter_votes.supported == 1 ? 'producer questions this suggestion' : 'producers question this suggestion' %}
  <span class="text-danger" title="{{ chapter_votes.rejected }} {{ reject_flavor_text }}">{{ chapter_votes.rejected }}</span>
</div>

<div class="action-box rounded">
  <span title="Moderation Box">
    <span class="fas fa-cog fa-fw fa-lg" aria-hidden="true"></span>
  </span>

  {% if not chapter.draft %}
    <a class="cursor-pointer d-inline-block" href="{{ path('episode_chapter_edit', {episode: episode.code, chapter: chapter.id, referral: referral}) }}" title="Edit chapter">
      <span class="fas fa-pencil-alt fa-fw fa-lg" aria-hidden="true"></span>
    </a>
    <a class="cursor-pointer d-inline-block" href="{{ path('episode_chapter_delete', {episode: episode.code, chapter: chapter.id, referral: referral}) }}" title="Delete chapter">
      <span class="fas fa-trash fa-fw fa-lg" aria-hidden="true"></span>
    </a>
  {% else %}
    <a class="cursor-pointer d-inline-block" href="{{ path('episode_chapter_accept', {episode: episode.code, draft: chapter.id, referral: referral}) }}" title="Accept suggestion">
      <span class="fas fa-check fa-fw fa-lg text-success" aria-hidden="true"></span>
    </a>
    <a class="cursor-pointer d-inline-block" href="{{ path('episode_chapter_reject', {episode: episode.code, draft: chapter.id, referral: referral}) }}" title="Reject suggestion">
      <span class="fas fa-times fa-fw fa-lg text-danger" aria-hidden="true"></span>
    </a>
  {% endif %}
</div>
