<a class="archive-item" href="{{ path('player', {episode: episode.code}) }}">
  {% set body_class = featured is defined and featured ? 'archive-item-body featured' : 'archive-item-body' %}
  <div class="{{ body_class }}">
    <img src="{{ episode|episodeCover('small') }}" alt="Art for episode {{ episode.code }}">
    <div class="archive-item-text">
      <h6>{{ episode.code }}</h6>
      <h4>{{ episode.name }}</h4>
      <div class="meta">
        {{ episode.publishedAt|date('F jS, Y') }}
      </div>
      <div class="list-meta">
        {% if episode.duration %}
        <span class="text-nowrap" aria-label="Duration">
          {{ episode.duration|visualTimestamp }}
        </span>
        {% endif %}
        <span class="text-nowrap" aria-label="Publish date">
          <span class="far fa-calendar mr-1" aria-hidden="true"></span>
          {{ episode.publishedAt|date('F jS, Y') }}
        </span>
        <span class="text-nowrap" aria-label="Publish date">
          <span class="fas fa-book mr-1" aria-hidden="true"></span>
          {{ episode.chapters|length }} {% if episode.chapters|length > 1 %}chapters{% else %}chapter{% endif %}
        </span>
        {% if episode.special %}
        <span class="text-nowrap">
          <span class="fas fa-star mr-1" aria-hidden="true"></span>
          Special
        </span>
        {% endif %}
        {% if episode.transcript %}
        <span class="text-nowrap">
          <span class="fas fa-list mr-1" aria-hidden="true"></span>
          Transcript
        </span>
        {% endif %}
        {% if episode.chatMessages %}
        <span class="text-nowrap">
          <span class="far fa-smile mr-1" aria-hidden="true"></span>
          Troll Room
        </span>
        {% endif %}
      </div>
    </div>
  </div>
</a>
