<a class="archive-item" href="{{ path('player', {episode: episode.code}) }}">
  {% set body_class = featured is defined and featured ? 'archive-item-body featured' : 'archive-item-body' %}
  <div class="{{ body_class }}">
    <img src="{{ asset(episode.code ~ '.png')|imagine_filter('cover_small') }}" alt="Art for episode {{ episode.code }}">
    <div class="archive-item-text">
      <h6>{{ episode.code }}</h6>
      <h4>{{ episode.name }}</h4>
      <div class="meta">
        {{ episode.publishedAt|date('F jS, Y') }}
      </div>
      <div class="list-meta">
        {% if episode.duration %}
        <span class="text-nowrap" aria-label="Duration">
          {{ episode.duration|visualTimestamp }}
        </span>
        {% endif %}
        <span class="text-nowrap" aria-label="Publish date">
          <span class="far fa-calendar" aria-hidden="true"></span>
          {{ episode.publishedAt|date('F jS, Y') }}
        </span>
        {% if episode.special %}
        <span class="text-nowrap">
          <span class="fas fa-star" aria-hidden="true"></span>
          Special
        </span>
        {% endif %}
        {% if episode.chatMessages %}
        <span class="text-nowrap">
          <span class="fal fa-smile" aria-hidden="true"></span>
          Troll Room
        </span>
        {% endif %}
      </div>
    </div>
  </div>
</a>
