<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    {% set page_description = page_description ?? null %}

    <title>{{ page_title ?? 'No Agenda Show' }}</title>
    {% if page_description %}<meta name="description" content="{{ page_description }}">{% endif %}

    <link rel="manifest" href="{{ asset('app-manifest.json') }}">
    <link rel="icon" href="{{ asset('build/images/website-icon-192.png', 'app') }}" sizes="192x192">
    <link rel="icon" href="{{ asset('build/images/website-icon-180.png', 'app') }}" sizes="180x180">
    <link rel="icon" href="{{ asset('build/images/website-icon-128.png', 'app') }}" sizes="128x128">
    <link rel="icon" href="{{ asset('build/images/website-icon-32.png', 'app') }}" sizes="32x32">

    {% block metatags %}
      <meta property="og:site_name" content="No Agenda Show"/>
      <meta property="og:type" content="website"/>
    {% endblock %}

    {% block stylesheets %}
      {{ encore_entry_link_tags('app', null, 'app') }}

      <noscript>
        <style>
          .js { display: none !important; }
          .noscript-flex { display: flex !important; }
        </style>
      </noscript>
    {% endblock %}

    {% block scripts %}
      <script>
        {% if app.environment == 'dev' %}
          window.naDebug = true;
        {% endif %}
        {% if vapid_key %}
          window.vapidPublicKey = '{{ vapid_key }}';
        {% endif %}
        window.recordingTimes = {{ recording_times|json_encode|raw }};
      </script>

      {{ encore_entry_script_tags('app', null, 'app') }}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      {% include 'navbar.html.twig' %}

      <main id="swup" class="swup-transition">
        {% block content '' %}
      </main>

      {% include 'players.html.twig' %}
    {% endblock %}

    {% block body_scripts %}
      {% include 'analytics_script.html.twig' %}
    {% endblock %}
  </body>
</html>
