<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--
    {% block title '' %}
    No Agenda Experience
    -->

    {% set page_title = block('title') == '' ? 'No Agenda Experience' : block('title') ~ ' - No Agenda Experience' %}

    <title>{{ page_title }}</title>
    <link rel="icon" href="{{ asset('/favicon.ico') }}">

    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>
  <body data-authenticated="{{ authenticated ? 'true' : 'false' }}" {% block body_attributes '' %}>
    {% block body '' %}
    {% include 'blocks/token_modal.html.twig' %}

    {% block scripts %}
    {{ encore_entry_script_tags('app') }}
    {% include 'blocks/analytics.html.twig' %}
    {% endblock %}
  </body>
</html>
