{% macro livestream() %}
  <section class="section">
    <div class="section-content">
      <a href="{{ path('livestream') }}" class="call2action">
        <div class="call2action-content">
          <h3>No Agenda Stream</h3>
          <p>
            Entertainment for producers.<br>
            24 hours a day, 7 days a week.
          </p>
        </div>
        <div class="call2action-icon" aria-hidden="true">
          <span class="fa-solid fa-radio fa-fw"></span>
        </div>
      </a>
    </div>
  </section>
{% endmacro %}

{% macro podcast() %}
  <section class="section">
    <div class="section-content">
      <a href="{{ path('podcast') }}" class="call2action">
        <div class="call2action-content">
          <h3>No Agenda Show</h3>
          <p>
            Twice-weekly media deconstruction.
          </p>
        </div>
        <div class="call2action-icon" aria-hidden="true">
          <span class="fa-solid fa-microphone fa-fw"></span>
        </div>
      </a>
    </div>
  </section>
{% endmacro %}

{% macro podcasting20() %}
  <section class="section">
    <div class="section-content">
      <a href="{{ path('podcasting20') }}" class="call2action">
        <div class="call2action-content">
          <h3>Podcasting 2.0</h3>
          <p>
            Podcasting needs an upgrade, so we created one.
          </p>
        </div>
        <div class="call2action-icon" aria-hidden="true">
          <span class="fa-solid fa-podcast fa-fw"></span>
        </div>
      </a>
    </div>
  </section>
{% endmacro %}

{% macro producers() %}
  <section class="section">
    <div class="section-content">
      <a href="{{ path('producers') }}" class="call2action">
        <div class="call2action-content">
          <h3>Our Producers</h3>
          <p>
            No Agenda is more than a podcast, it's a community.
          </p>
        </div>
      </a>
    </div>
  </section>
{% endmacro %}

{% macro shownotes() %}
  <section class="section">
    <div class="section-content">
      <a href="{{ path('podcast_shownotes') }}" class="call2action">
        <div class="call2action-content">
          <h3>Shownotes</h3>
          <p>
            Episodes of our show are fitted with a comprehensive list of shownotes.
          </p>
        </div>
        <div class="call2action-icon" aria-hidden="true">
          <span class="fa-solid fa-file-alt fa-fw"></span>
        </div>
      </a>
    </div>
  </section>
{% endmacro %}

{% macro valueForValue() %}
  <section class="section">
    <div class="section-content">
      <a href="{{ path('producers') }}" class="call2action">
        <div class="call2action-content">
          <h3>Value for Value</h3>
          <p>
            Learn more about the lifestyle of the future, pioneered by The No Agenda Show.
          </p>
        </div>
        <div class="call2action-icon" aria-hidden="true">
          <span class="fa-solid fa-handshake fa-fw"></span>
        </div>
      </a>
    </div>
  </section>
{% endmacro %}

{% macro website() %}
  <section class="section">
    <div class="section-content">
      <a href="{{ path('website') }}" class="call2action">
        <div class="call2action-content">
          <h3>No Agenda Website</h3>
          <p>
            Our website is made possible by one of our resident dudes named Ben. Take a look at what's going on behind
            the scenes.
          </p>
        </div>
        <div class="call2action-icon" aria-hidden="true">
          <span class="fa-solid fa-globe fa-fw"></span>
        </div>
      </a>
    </div>
  </section>
{% endmacro %}

