{% extends 'form_div_layout.html.twig' %}

{%- block form -%}
  {{- form_start(form) -}}
    {{- form_widget(form, {attr: {class: 'form'}}) -}}
  {{- form_end(form) -}}
{%- endblock form -%}

{%- block form_row -%}
  {%- set row_attr = row_attr|merge({class: 'form-input'}) %}
  {{- parent() -}}
{%- endblock form_row -%}

{%- block button_row -%}
  {%- set row_attr = row_attr|merge({class: 'form-buttons'}) %}
  {{- parent() -}}
{%- endblock button_row -%}

{%- block button_widget -%}
  {%- set attr = attr|merge({class: 'btn'}) %}
  {{- parent() -}}
{%- endblock button_widget -%}

{%- block timestamp_widget -%}
  <div class="form-timestamp" data-controller="timestamp-input" data-timestamp-input-metadata-value="{{ episode|player_metadata|json_encode|e('html') }}">
    <div class="input">
      {%- set attr = attr|merge({'data-timestamp-input-target': 'input'}) -%}
      {{ block('form_widget') }}

      <button type="button" class="btn btn-accent" data-action="timestamp-input#play">Play From Position</button>
    </div>
    <div class="buttons">
      <button type="button" class="btn" data-action="timestamp-input#minusFive">-5</button>
      <button type="button" class="btn" data-action="timestamp-input#minusOne">-1</button>
      <button type="button" class="btn" data-action="timestamp-input#plusOne">+1</button>
      <button type="button" class="btn" data-action="timestamp-input#plusFive">+5</button>
      <button type="button" class="btn" data-action="timestamp-input#paste">Paste Current Position</button>
    </div>
  </div>
{%- endblock timestamp_widget -%}
