{% extends 'base.html.twig' %}

{% set navigationLinks = [
  {
    href: path('player_latest'),
    title: 'Latest episode',
    active: false,
    external: false,
  },
  {
    href: path('archive'),
    title: 'Archive',
    active: 'archive' in app.request.attributes.get('_route') or 'player' in app.request.attributes.get('_route'),
    external: false,
  },
  {
    href: 'http://dvorak.org/na',
    title: 'Donate',
    active: false,
    external: true,
  },
] %}

{% set authenticationLinks = [] %}

{% if app.user %}
  {% set authenticationLinks = authenticationLinks|merge([{
    path: 'security_account',
    title: app.user.username,
    active: app.request.attributes.get('_route') starts with 'security_',
  }]) %}

  {% if is_granted('ROLE_ADMIN') %}
    {% set authenticationLinks = authenticationLinks|merge([{
      path: 'admin',
      title: 'Administration Panel',
      active: false,
    }]) %}
  {% endif %}
{% else %}
  {% set authenticationLinks = authenticationLinks|merge([{
    path: 'security_login',
    title: 'Sign in',
    active: app.request.attributes.get('_route') == 'security_login',
  }]) %}
{% endif %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="{{ path('homepage') }}">No Agenda Experience</a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        {% for link in navigationLinks %}
        {% set classes = link.active ? 'nav-item active' : 'nav-item' %}
        <li class="{{ classes }}">
          <a
            class="nav-link"
            href="{{ link.href }}"
            {% if link.external %}target="_blank"{% endif %}
          >
            {{ link.title|raw }}
            {% if link.external %}<span class="far fa-sm fa-external-link-square-alt"></span>{% endif %}
            {% if link.active %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
      <ul class="navbar-nav">
        {% for link in authenticationLinks|reverse %}
        {% set classes = link.active ? 'nav-item active' : 'nav-item' %}
        <li class="{{ classes }}">
          <a class="nav-link" href="{{ path(link.path) }}">
            {{ link.title|raw }}
            {% if link.active %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

{% block content %}
{% endblock %}
{% endblock %}
