{% extends app.request.headers.get('X-Requested-With') == 'NoAgendaRequest' ? 'ajax_base.html.twig' : 'base.html.twig' %}

{% block metatags %}
{% endblock %}

{% set navigationLinks = [
  {
    href: path('player_latest'),
    title: 'Latest episode',
    active: false,
    external: false,
  },
  {
    href: path('archive'),
    title: 'Archive',
    active: 'archive' in app.request.attributes.get('_route') or 'player' in app.request.attributes.get('_route'),
    external: false,
  },
  {
    href: 'http://www.noagendastream.com',
    title: 'Livestream',
    active: false,
    external: true,
  },
] %}

{% set authenticationLinks = [] %}

{% if app.user %}
  {% set authenticationLinks = authenticationLinks|merge([{
    path: 'account_index',
    title: app.user.username,
    active: app.request.attributes.get('_route') starts with 'account_',
  }]) %}

  {% if is_granted('ROLE_ADMIN') %}
    {% set authenticationLinks = authenticationLinks|merge([{
      path: 'easyadmin',
      title: 'Administration Panel',
      active: false,
    }]) %}
  {% endif %}

  {% if is_granted('ROLE_MOD') %}
    {% set authenticationLinks = authenticationLinks|merge([{
      path: 'contributions_manage',
      title: 'Manage contributions',
      active: app.request.attributes.get('_route') == 'contributions_manage',
    }]) %}
  {% endif %}
{% else %}
  {% set authenticationLinks = authenticationLinks|merge([{
    path: 'security_login',
    title: 'Sign in',
    active: app.request.attributes.get('_route') == 'security_login',
  }]) %}
{% endif %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{{ path('homepage') }}">
      <img src="{{ asset('build/logo.png') }}">
      No Agenda
    </a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fas fa-bars" aria-hidden="true"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% for link in navigationLinks %}
        {% set classes = link.active ? 'nav-item active' : 'nav-item' %}
        <li class="{{ classes }}">
          <a
            class="nav-link"
            href="{{ link.href }}"
            {% if link.external %}target="_blank"{% endif %}
          >
            {{ link.title|raw }}
            {% if link.external %}<span class="fas fa-sm fa-external-link-alt" aria-hidden="true"></span><span class="sr-only">(external link)</span>{% endif %}
            {% if link.active %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
      <div class="navbar-nav ml-lg-3 my-2 my-lg-0 mr-auto">
        <a href="http://dvorak.org/na" class="btn btn-block btn-lg-inline btn-danger">Donate</a>
      </div>
      <ul class="navbar-nav">
        {% for link in authenticationLinks|reverse %}
        {% set classes = link.active ? 'nav-item active' : 'nav-item' %}
        <li class="{{ classes }}">
          <a class="nav-link" href="{{ path(link.path) }}">
            {{ link.title|raw }}
            {% if link.active %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<div data-content>
  {% block content %}
  {% endblock %}
</div>
{% endblock %}
