<na-chapter-list data-target="episodeSource">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="mb-0">Chapters</h4>
    {% if chapters|filter(chapter => chapter.draft)|length > 0 %}
      <div>
        <div class="btn btn-outline-primary btn-sm" data-drafts-toggle>Hide suggested chapters</div>
      </div>
    {% endif %}
  </div>
  <div class="site-episode-chapters list-group-flush">
    {% for chapter in chapters %}
      {% set text_classes = chapter.draft ? 'text-muted' :'' %}
      <div class="list-group-item list-group-item-action flex-column align-items-start p-2" data-chapter data-timestamp="{{ chapter.startsAt }}" {% if chapter.draft %}data-draft{% endif %}>
        <div class="d-flex w-100 justify-content-between">
          <div class="d-flex">
            <div class="chapter-actions text-center mr-3">
              <na-audio-timestamp data-target="episodeSource" data-timestamp="{{ chapter.startsAt }}">
                <div class="h5 mb-2 cursor-pointer" role="button" title="Start playing at this position">
                  <span class="fas fa-play" aria-hidden="true"></span>
                </div>
              </na-audio-timestamp>
              <span class="text-sm">{{ chapter.startsAt|prettyTimestamp }}</span>
            </div>

            <div>
              <h5 class="{{ text_classes }}">
                {% if not chapter.draft %}
                  {{ chapter.name ? chapter.name : ('<em>Untitled</em>'|raw) }}
                {% else %}
                  <span class="fas fa-lightbulb mr-1" aria-hidden="true" title="This is a suggested chapter"></span>
                  <span class="sr-only">Suggested chapter:</span>
                  {{ chapter.name ? chapter.name : ('<em>Untitled</em>'|raw) }}
                {% endif %}
              </h5>

              {% if chapter.draft and chapter.chapter %}
                <em><span class="fas fa-lightbulb mr-1" aria-hidden="true"></span> This is a suggested improvement for: {{ chapter.chapter.name }}</em>
              {% elseif chapter.draft %}
                <em><span class="fas fa-lightbulb mr-1" aria-hidden="true"></span> This is a suggested chapter</em>
              {% endif %}

              <div id="section-collapse-{{ loop.index }}" class="collapse mt-2 no-select">
                <div>
                  <span class="fas fa-user" aria-hidden="true"></span> {{ feedback_creators(chapter) }}
                </div>
                <div>
                  {% include 'blocks/sharing.html.twig' with {title: 'No Agenda ' ~ episode.code ~ ': ' ~ episode.name, url: url('player', {episode: episode.code, t: chapter.startsAt|prettyTimestamp})} %}

                  {% if not chapter.draft %}
                    <div class="action-box rounded">
                      <span title="Suggestions Box">
                        <span class="fas fa-lightbulb fa-fw fa-lg" aria-hidden="true"></span>
                      </span>
                      <a class="cursor-pointer d-inline-block" href="{{ path('episode_chapter_refactor', {episode: episode.code, chapter: chapter.id}) }}" title="Suggest an improvement for this chapter">
                        <span class="fas fa-exclamation-triangle fa-fw fa-lg text-danger" aria-hidden="true"></span>
                      </a>
                    </div>
                  {% endif %}

                  {% if is_granted('ROLE_MOD') %}
                    <div class="action-box rounded">
                      <span title="Moderation Box">
                        <span class="fas fa-cog fa-fw fa-lg" aria-hidden="true"></span>
                      </span>
                      {% if not chapter.draft %}
                        <a class="cursor-pointer d-inline-block" href="{{ path('episode_chapter_edit', {episode: episode.code, chapter: chapter.id}) }}" title="Edit chapter">
                          <span class="fas fa-pencil-alt fa-fw fa-lg" aria-hidden="true"></span>
                        </a>
                        <a class="cursor-pointer d-inline-block" href="{{ path('episode_chapter_delete', {episode: episode.code, chapter: chapter.id}) }}" title="Delete chapter">
                          <span class="fas fa-trash fa-fw fa-lg" aria-hidden="true"></span>
                        </a>
                      {% else %}
                        <a class="cursor-pointer d-inline-block" href="{{ path('episode_chapter_accept', {episode: episode.code, draft: chapter.id}) }}" title="Accept suggestion">
                          <span class="fas fa-check fa-fw fa-lg text-success" aria-hidden="true"></span>
                        </a>
                        <a class="cursor-pointer d-inline-block" href="{{ path('episode_chapter_accept_edit', {episode: episode.code, draft: chapter.id}) }}" title="Accept and edit suggestion">
                          <span class="fas fa-pencil-alt fa-fw fa-lg text-success" aria-hidden="true"></span>
                        </a>
                        <a class="cursor-pointer d-inline-block" href="{{ path('episode_chapter_reject', {episode: episode.code, draft: chapter.id}) }}" title="Reject suggestion">
                          <span class="fas fa-times fa-fw fa-lg text-danger" aria-hidden="true"></span>
                        </a>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          <div class="h5 mx-2">
            {% if chapter.draft %}
              {% set chapter_creator = chapter.creator is not null ? chapter.creator : chapter.creatorToken %}
              {% set chapter_votes = feedback_vote_count(chapter.feedbackItem.votes) %}

              <na-feedback-vote data-url="{{ path('episode_chapter_vote', {'episode': episode.code, 'draft': chapter.id, 'vote': 'voteValue'}) }}">
                {% set support_flavor_text = chapter_votes.supported == 1 ? 'producer agrees with this suggestion' : 'producers agree with this suggestion' %}
                <span class="text-success" title="{{ chapter_votes.supported }} {{ support_flavor_text }}" data-support-count>{{ chapter_votes.supported }}</span>
                {% if feedback_can_vote(chapter_creator, chapter.feedbackItem.votes) %}
                  <div class="cursor-pointer" title="I agree with this suggestion" style="display: inline-block;" data-support>
                    <span class="fas fa-check fa-sm text-success" aria-hidden="true"></span>
                  </div>
                {% endif %}
                <span>/</span>
                {% set reject_flavor_text = chapter_votes.supported == 1 ? 'producer questions this suggestion' : 'producers question this suggestion' %}
                <span class="text-danger" title="{{ chapter_votes.rejected }} {{ reject_flavor_text }}" data-reject-count>{{ chapter_votes.rejected }}</span>
                {% if feedback_can_vote(chapter_creator, chapter.feedbackItem.votes) %}
                  <div class="cursor-pointer" title="I'm not sure about this suggestion" style="display: inline-block;" data-reject>
                    <span class="fas fa-question fa-sm text-danger" aria-hidden="true"></span>
                  </div>
                {% endif %}
              </na-feedback-vote>
            {% endif %}
            <span
              class="d-inline-block cursor-pointer ml-3"
              data-toggle="collapse"
              data-target="#section-collapse-{{ loop.index }}"
            >
              <span class="fas fa-ellipsis-h" aria-hidden="true"></span>
            </span>
          </div>
        </div>
      </div>
    {% endfor %}

    <a href="{{ path('episode_chapter_new', {episode: episode.code}) }}" class="list-group-item list-group-item-action flex-column align-items-start p-2">
      <div class="d-flex w-100 justify-content-between">
        <div class="d-flex">
          <div class="chapter-actions mr-3"></div>
          <h5 class="mb-0">Suggest a new chapter</h5>
        </div>
        <span class="d-inline-block h5 mx-2 my-0">
          <span class="fas fa-plus" aria-hidden="true"></span>
        </span>
      </div>
    </a>
  </div>
</na-chapter-list>
