{% import 'player/parts/macro.html.twig' as macro %}

<div class="d-none" data-chrome-notice>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

    Hello Chrome user!<br>

    Because Chrome is a safe browser, you might need to accept a certificate
    before you can play any of the clips. Privacy is not guaranteed.<br><br>

    <a href="https://adam.curry.com/enc/1541711865.5_na1084-art-big.png" target="_blank">Click to show the certificate</a><br>
    <span class="text-muted">If you only see an image, you've already accepted the certificate.</span>
  </div>
</div>

{% set category_index = 0 %}
{% for category_name, category in shownotes.clips %}
  {% set category_index = category_index + 1 %}
  {% if category_name %}
    <h4 class="mx-3">{{ category_name }}</h4>
  {% endif %}
  {% for clip_index, clip in category %}
    {% set clip_id = "clipSource_#{category_index}_#{clip_index}" %}
    {% if clip.type == 'audio' %}
      <na-audio-source
        id="{{ clip_id }}"
        data-title="{{ clip.title }}"
        data-src="{{ clip.uri }}"
        data-clip
      ></na-audio-source>
    {% endif %}

    <div class="card mx-3 mb-3">
      <div class="card-body py-2">
        <div class="d-flex">
          {% if clip.type == 'audio' %}
            {{ macro.play_button(1, 'mr-3', clip_id) }}
          {% endif %}
          <span class="mr-2">{{ clip.title }}</span>
          {% if clip.uri %}
            <a href="{{ clip.uri }}" target="_blank" aria-label="Permalink"><span class="fas fa-link" aria-hidden="true"></span></a>
          {% endif %}
        </div>

        {% if clip.type == 'audio' %}
          {{ macro.progress_bar('mini', clip_id) }}
        {% elseif clip.type == 'image' %}
          <div class="mt-3">
            <na-img src="{{ clip.uri }}" alt="Shownotes image">
              <div class="btn btn-outline-primary btn-sm">Load image</div>
            </na-img>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endfor %}
