<div id="correctionModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      {{ form_start(partCorrectionForm) }}
        <div class="modal-header">
          <h5 class="modal-title">Suggest a correction</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span class="form-errors"></span>

          {{ form_row(partCorrectionForm.action, {
            label: 'Select the type of correction:',
          }) }}

          <div class="form-group d-none" data-correction-field="startsAt" data-correction-timestamp>
            {{ form_label(partCorrectionForm.startsAt, 'Select the new starting time of the chapter:') }}
            <div>
              {{ form_widget(partCorrectionForm.startsAt, {attr: {class: 'd-inline w-auto', placeholder: '0:00:00'}}) }}
              <div class="d-inline">
                <div class="btn btn-primary mx-1 cursor-pointer" data-fill>
                  Grab current player time
                </div>
              </div>
              <div class="d-inline">
                <div class="btn btn-secondary mx-1 cursor-pointer" data-play>
                  <span class="far fa-sm fa-play" aria-hidden="true"></span>
                  <span class="ml-1">Play from position</span>
                </div>
              </div>
              <div class="d-inline">
                <div class="btn btn-secondary mx-1 cursor-pointer" data-player-action="pause">
                  <span class="far fa-sm fa-pause" aria-hidden="true"></span>
                  <span class="sr-only">Pause</span>
                </div>
              </div>
            </div>
            <span class="startsAt-errors"></span>
          </div>

          <div class="form-group d-none" data-correction-field="name">
            {{ form_label(partCorrectionForm.name, 'Select the new name of the chapter:') }}
            {{ form_widget(partCorrectionForm.name, {attr: {placeholder: 'Chapter name'}}) }}
            <span class="name-errors"></span>
          </div>

          {{ form_rest(partCorrectionForm) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Create correction</button>
        </div>
      {{ form_end(partCorrectionForm) }}
    </div>
  </div>
</div>
