<div class="mb-3 px-3 no-select">
  {% include 'blocks/sharing.html.twig' with {title: 'No Agenda ' ~ episode.code ~ ': ' ~ episode.name, url: url('player', {episode: episode.code})} %}
  {% if is_granted('ROLE_ADMIN') %}
  <div class="bg-gray d-inline-block p-1 my-1 rounded">
    <span title="Administration Box">
      <span class="fas fa-cog fa-fw fa-lg" aria-hidden="true"></span>
    </span>
    <a class="cursor-pointer d-inline-block" href="{{ path('easyadmin', {entity: 'Episode', id: episode.id, action: 'edit'}) }}" target="_blank" title="Manage episode">
      <span class="fas fa-file-alt fa-fw fa-lg" aria-hidden="true"></span>
    </a>
    <a class="cursor-pointer d-inline-block" href="{{ path('easyadmin', {entity: 'Episode', id: episode.id, action: 'approveAll'}) }}" target="_blank" title="Approve all corrections">
      <span class="fas fa-check-square fa-fw fa-lg text-success" aria-hidden="true"></span>
    </a>
  </div>
  {% endif %}

  <div class="float-md-right">
    <span class="mr-1">Share at <span data-player-data="timer">0:00</span></span>
    {% include 'blocks/sharing.html.twig' with {title: 'No Agenda ' ~ episode.code ~ ': ' ~ episode.name, url: url('player', {episode: episode.code}) ~ '?t=0:00', dynamic: true} %}
  </div>
</div>

{% if episode.shownotes %}
<div class="mb-3 px-3">
  <p>Executive Producers: {{ episode.shownotes.executiveProducers|join(', ') }}</p>
  <p>Associate Executive Producers: {{ episode.shownotes.associateExecutiveProducers|join(', ') }}</p>

  <p>Cover Art by {{ episode.shownotes.coverArtist|raw }}</p>

  <a href="{{ episode.shownotes.url }}" class="btn btn-outline-primary" target="_blank">Visit the Shownotes for episode {{ episode.code }}</a>
</div>
{% endif %}

<div class="mt-3 mb-5">
  <h4 class="px-3">Chapters</h4>
  {% include 'player/blocks/parts.html.twig' %}
</div>
