<div class="mb-3 no-select">
  {% include 'blocks/sharing.html.twig' with {title: 'No Agenda ' ~ episode.code ~ ': ' ~ episode.name, url: url('player', {episode: episode.code})} %}

  {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MOD') %}
  <div class="action-box rounded">
    <span title="Administration Box">
      <span class="fas fa-cog fa-fw fa-lg" aria-hidden="true"></span>
    </span>
    {% if is_granted('ROLE_ADMIN') %}
      <a class="cursor-pointer d-inline-block" href="{{ path('easyadmin', {entity: 'Episode', id: episode.id, action: 'edit'}) }}" target="_blank" title="Manage episode">
        <span class="fas fa-file-alt fa-fw fa-lg" aria-hidden="true"></span>
      </a>
    {% endif %}
    {% if is_granted('ROLE_MOD') %}
      <a class="cursor-pointer d-inline-block" href="{{ path('episode_chapter_accept_all', {episode: episode.code}) }}" target="_blank" title="Accept all chapter suggestions">
        <span class="fas fa-check fa-fw fa-lg" aria-hidden="true"></span>
      </a>
    {% endif %}
  </div>
  {% endif %}

  <div class="float-md-right">
    <span class="mr-1">Share at <span data-player-data="timer">0:00</span></span>
    {% include 'blocks/sharing.html.twig' with {title: 'No Agenda ' ~ episode.code ~ ': ' ~ episode.name, url: url('player', {episode: episode.code}) ~ '?t=0:00', dynamic: true} %}
  </div>
</div>

{% if shownotes %}
<div class="mb-3">
  {% for credit_title, credits in shownotes.credits %}
    <p>{{ credit_title }}: {{ credits is iterable ? credits|join(', ')|raw : credits|raw }}</p>
  {% endfor %}
</div>
{% endif %}

<div>
  <a href="{{ episode.enclosureUrl }}" class="btn btn-outline-primary d-block d-sm-inline-block mb-3" target="_blank" download>
    <span class="fas fa-cloud-download-alt fa-fw mr-1" aria-hidden="true"></span>
    Download episode (mp3)
  </a>
  {% if episode.shownotesUrl %}
    <a href="{{ episode.shownotesUrl }}" class="btn btn-outline-primary d-block d-sm-inline-block mb-3" target="_blank">Visit the shownotes for episode {{ episode.code }}</a>
  {% endif %}
</div>

<div class="my-5">
  {% include 'player/blocks/chapters.html.twig' %}
</div>
