<div class="site-episode-parts list-group">
  {% for part in parts %}
  {% set borderClasses = part.corrections|length ? 'border-bottom-0' : null %}
  <div
    class="site-episode-part list-group-item list-group-item-action flex-column align-items-start {{ borderClasses }} p-2"
    data-timestamp="{{ part.startsAt }}"
    data-name="{{ part.name }}"
  >
    <div class="d-flex w-100 justify-content-between">
      <div class="d-flex">
        <div class="episode-actions text-center mr-3">
          <div class="h5 mb-2 cursor-pointer" data-player-action="play-timestamp" data-timestamp="{{ part.startsAt }}">
            <span class="fas fa-play" aria-hidden="true"></span>
          </div>
          <span class="text-sm">{{ part.startsAt|prettyTimestamp }}</span>
        </div>
        <div>
          <div class="mb-1">
            <h5 class="mb-2">{{ part.name }}</h5>
            <div>
              <span class="fas fa-user" aria-hidden="true"></span> Woodstock
            </div>
          </div>
          <div id="section-collapse-{{ loop.index }}" class="collapse mt-2 no-select">
            {% include 'blocks/sharing.html.twig' with {title: 'No Agenda ' ~ episode.code ~ ': ' ~ episode.name, url: url('player', {episode: episode.code, t: part.startsAt|prettyTimestamp})} %}
            <div class="bg-gray d-inline-block p-1 my-1 rounded">
              <span title="Suggestions Box">
                <span class="fas fa-lightbulb fa-fw fa-lg" aria-hidden="true"></span>
              </span>
              <div class="cursor-pointer d-inline-block" title="Suggest a new chapter" data-action="part-suggestion" data-part-id="{{ part.id }}">
                <span class="fas fa-plus-circle fa-fw fa-lg text-success" aria-hidden="true"></span>
              </div>
              <div class="cursor-pointer d-inline-block" title="Suggest a correction for this chapter" data-action="part-correction" data-part-id="{{ part.id }}">
                <span class="fas fa-exclamation-triangle fa-fw fa-lg text-danger" aria-hidden="true"></span>
              </div>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="bg-gray d-inline-block p-1 my-1 rounded">
              <span title="Administration Box">
                <span class="fas fa-cog fa-fw fa-lg" aria-hidden="true"></span>
              </span>
              <a class="cursor-pointer d-inline-block" href="{{ path('easyadmin', {entity: 'EpisodePart', id: part.id, action: 'show'}) }}" target="_blank" title="Manage chapter">
                <span class="fas fa-file-alt fa-fw fa-lg" aria-hidden="true"></span>
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <span
        class="d-none d-md-inline-block h5 cursor-pointer mx-2"
        data-toggle="collapse"
        data-target="#section-collapse-{{ loop.index }}"
      >
        <span class="fas fa-ellipsis-h" aria-hidden="true"></span>
      </span>
    </div>
  </div>
  {% for correction in part.corrections %}
  {% set borderClasses = (loop.length > 1 and not loop.last ? 'border-bottom-0') ~ ' border-top-0' %}
  {% set canVote = canVoteCorrection(correction) %}
  {% set votes = correctionVotes(correction) %}
  <div class="site-episode-correction list-group-item list-group-item-action flex-column align-items-start {{ borderClasses }} p-2">
    <div class="d-flex w-100 align-items-start">
      <div class="episode-actions text-center mr-3">
        <div class="correction-action cursor-pointer" data-player-action="play-timestamp" data-timestamp="{{ correction.startsAt }}">
          <span class="fas fa-play" aria-hidden="true"></span>
        </div>
      </div>
      <div style="padding-right: 100px;">
        <span class="fas fa-lightbulb" aria-hidden="true"></span>
        <small>{% if correction.creator %}{{ correction.creator.username }}{% else %}<em>Guest</em>{% endif %}</small>
        {{ correction.summary }}
        (
          <span class="text-success" data-vote-correction-output="support" data-correction-id="{{ correction.id }}">{{ votes.support }}</span>
          {% if canVote %}
          <div class="cursor-pointer d-inline-block" title="Support this correction" data-vote-correction="support" data-correction-id="{{ correction.id }}">
            <span class="fas fa-check fa-lg text-success" aria-hidden="true"></span>
          </div>
          {% endif %}
          ,
          <span class="text-danger" data-vote-correction-output="reject" data-correction-id="{{ correction.id }}">{{ votes.reject }}</span>
          {% if canVote %}
          <div class="cursor-pointer d-inline-block" title="Reject this correction" data-vote-correction="reject" data-correction-id="{{ correction.id }}">
            <span class="fas fa-times fa-lg text-danger" aria-hidden="true"></span>
          </div>
          {% endif %}
          ,
          <span class="text-info" data-vote-correction-output="question" data-correction-id="{{ correction.id }}">{{ votes.question }}</span>
          {% if canVote %}
          <div class="cursor-pointer d-inline-block" title="I'm not sure about this correction" data-vote-correction="question" data-correction-id="{{ correction.id }}">
            <span class="fas fa-question fa-lg text-info" aria-hidden="true"></span>
          </div>
          {% endif %}
        )

        {% if is_granted('ROLE_ADMIN') %}
        <a class="correction-action ml-3" href="{{ path('easyadmin', {entity: 'EpisodePartCorrection', id: correction.id, action: 'show'}) }}" target="_blank"><span class="fas fa-file-alt mr-1"></span> Manage</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
</div>
