{% import _self as macro %}

{% macro render_outline(outline) %}
  {% import _self as macro %}
  {% if outline['@outlines'] is defined %}
    <details class="ml-4 my-2">
      <summary>{{ outline.text|raw }}</summary>
      {% for child_outline in outline['@outlines'] %}
        {{ macro.render_outline(child_outline) }}
      {% endfor %}
    </details>
  {% elseif outline.type|default('text') == 'link' and outline.text|trim|slice(0, 2) != '<a' %}
    <div class="ml-4 my-2">
      <a href="{{ outline.url|default('#') }}">{{ outline.text }}</a>
    </div>
  {% else %}
    <div class="ml-4 my-2">
      {{ outline.text|raw }}
    </div>
  {% endif %}
{% endmacro %}

<div data-episode-shownotes>
  {% for category in shownotes.outlines %}
    <details class="mb-3">
      <summary>{{ category.text|raw }}</summary>
      {% for outline in category['@outlines'] %}
        {{ macro.render_outline(outline) }}
      {% endfor %}
    </details>
  {% endfor %}
</div>
