{% macro archive(episodes, pager = null) %}
  <nav class="link-group link-group-full">
    <a href="{{ path('podcast_specials') }}" class="link">
      <span>Specials</span>
    </a>
    <a href="{{ path('podcast_all') }}" class="link">
      <span>Full List</span>
    </a>
  </nav>

  <section class="section archive">
    <div class="section-content">
      <div class="archive-grid">
        {% for episode in episodes %}
          <a href="{{ path('podcast_episode', {code: episode.code}) }}" title="Listen to No Agenda Show {{ episode }}" class="episode">
            <img src="{{ episode|episode_cover('small') }}" alt="Cover for No Agenda Show {{ episode.code }}">
            <div>{{ episode.publishedAt|date('F jS, Y') }}</div>
            <h3>{{ episode }}</h3>
          </a>
        {% endfor %}
      </div>

      {% if pager %}
        {{ pagerfanta(pager, null, {
          'routeName': 'podcast_archive',
          'omitFirstPage': true,
          'proximity': 1,
          'css_container_class': 'archive-pager archive-pager-small',
          'css_item_class': 'btn',
          'next_message': '<span>Older</span> <span class="btn-icon fa-solid fa-chevron-right" aria-hidden="true"></span>',
          'prev_message': '<span class="btn-icon fa-solid fa-chevron-left" aria-hidden="true"></span> <span>Newer</span>',
        }) }}

        {{ pagerfanta(pager, null, {
          'routeName': 'podcast_archive',
          'omitFirstPage': true,
          'proximity': 2,
          'css_container_class': 'archive-pager archive-pager-large',
          'css_item_class': 'btn',
          'next_message': '<span>Older</span> <span class="btn-icon fa-solid fa-chevron-right" aria-hidden="true"></span>',
          'prev_message': '<span class="btn-icon fa-solid fa-chevron-left" aria-hidden="true"></span> <span>Newer</span>',
        }) }}
      {% endif %}
    </div>
  </section>
{% endmacro archive %}

{% macro promo() %}
  <section class="section section-narrow">
    <div class="section-content">
      <h2>Listening is Free</h2>
      <p>
        Listening to the show is (and forever will be) free thanks to the time, talent and treasure provided by our
        producers. You can subscribe to the show directly from this website and any podcast app supporting the
        <a href="{{ path('subscribe', {'_fragment': 'apps'}) }}">open podcasting system</a>.
      </p>
      <p>
        Try a <a href="{{ podcastindex_apps_url }}">new podcast app</a> supporting Podcasting 2.0-features to get the most
        out of the No Agenda experience.
      </p>
    </div>
    <div class="section-buttons">
      <a href="{{ path('subscribe') }}" class="btn">Subscribe to the Show</a>
      <a href="{{ path('about_podcasting20') }}" class="btn btn-accent">About Podcasting 2.0</a>
    </div>
  </section>

  <section class="section section-narrow">
    <div class="section-content">
      <h2>
        <span>Recorded Live on the Air</span>
        <span class="fa-solid fa-microphone inline-icon" aria-hidden="true"></span>
      </h2>
      <p>
        The show is recorded live on the <a href="{{ path('livestream') }}">No Agenda Stream</a> every
        thursday and sunday at 11AM PT / 2PM ET. Even when we're not recording, there's still plenty of quality content to
        enjoy.
      </p>
      <p class="js" data-controller="recording-time"></p>
    </div>
    <div class="section-buttons">
      <a href="{{ path('livestream') }}" class="btn">No Agenda Stream</a>
    </div>
  </section>
{% endmacro %}
