{% extends 'base.html.twig' %}

{% import 'components.html.twig' as components %}
{% import 'feedback/macro.html.twig' as feedback %}

{% set page_title = 'Manage User - No Agenda Website' %}

{% block content %}
  <nav class="link-group link-group-full">
    <a href="{{ path('feedback_manage') }}" class="link">
      <span>Back to Contributions</span>
    </a>
  </nav>

  <section class="section">
    <div class="section-content">
      <h1>Manage User</h1>
      <h2>{{ creator.username }}</h2>

    </div>
    {% if not creator.mod %}
      <div class="section-buttons">
        {% if not creator.reviewed %}
          <a href="{{ path('feedback_review', {user: creator.id}) }}" class="btn">Authorise</a>
        {% endif %}
        {% if not creator.banned %}
          <a href="{{ path('feedback_ban', {user: creator.id}) }}" class="btn btn-accent">Ban</a>
        {% else %}
          <a href="{{ path('feedback_unban', {user: creator.id}) }}" class="btn btn-accent">Unban</a>
        {% endif %}
      </div>
    {% endif %}
  </section>

  <section class="section">
    <div class="section-content">
      {% if creator.master %}
        {{ components.alert('This user has a master, it\'s scheduled to be deleted and merged into its master account.') }}
      {% elseif creator.banned %}
        {{ components.alert('This user has been banned, suggestions of this user will not be shown to other visitors.') }}
      {% elseif creator.hidden %}
        {{ components.alert('This user was hidden by the user themself, suggestions of this user will not be shown to other visitors.') }}
      {% elseif creator.needsReview %}
        {{ components.alert('This user hasn\'t been reviewed, suggestions of this user will not be shown to other visitors until the user is reviewed.') }}
      {% endif %}

      <h3>Status</h3>
      {% if creator.admin %}
        <div>Administrator</div>
      {% elseif creator.mod %}
        <div>Moderator</div>
      {% elseif creator.banned %}
        <div>Banned</div>
      {% elseif creator.hidden %}
        <div>Hidden</div>
      {% elseif creator.reviewed %}
        <div>Authorized</div>
      {% else %}
        <div>Unauthorized</div>
      {% endif %}

      {% if creator.master %}
        <h3>Master</h3>
        <div>
          <a href="{{ path('feedback_user', {user: creator.master.id}) }}">{{ creator.master.username }}</a>
        </div>
      {% endif %}

      <h3>Submissions</h3>
      <div>{{ items|length }}</div>

      <h3>Approval Ratio</h3>
      <div>{{ acceptance_ratio }}%</div>

      {% if creator.ipAddresses|length %}
        <h3>IP Addresses</h3>
        {{ creator.ipAddresses|join('<br>')|raw }}
      {% endif %}
    </div>
  </section>

  <section class="section">
    <div class="section-content">
      <h1>Contributions</h1>

      <div class="chapters">
        {% for item in items %}
          {{ feedback.chapter(item.entity, 'user', true) }}
        {% else %}
          <div>
            This user hasn't made any contributions.
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
